<!-- richText start -->

<section class="epub richtext" style="margin:60px;">
  <article>
    <p>上海现代建筑设计(集团)有限公司是一家以建筑设计为主的现代科技型企业，集团旗下拥有华东建筑设计研究院和上海建筑设计研究院等20余家专业公司和机构。在2008年中国工程设计企业60强排名中跻身于前6名; 2001年至2011年连续十年被美国《工程新闻记录》（ENR）列入“国际工程设计公司200强”和“全球工程设计公司150强”之一，2011年位列全球第75位。2011年集团荣获中国质量协会与全国用户委员会颁发的“用户满意企业”奖。</p>
    <div class="row-fluid">
      <div class="span6">
        <h4>专业的团队</h4>
        <p>集团现有职工3,500余人，其中包括中国工程院院士2名、国家设计大师6名、国家有突出贡献中青年专家6名。各专业技术人员约占73%, 高级工程师约占25.4%, 技术力量雄厚。</p>
      </div>
      <div class="span6">
        <h4>经验与成就</h4>
        <p>集团累计完成了3万余项工程的设计与咨询，创作成果遍及全国29个省市及20多个国家和地区，其中1000余项工程设计、科研项目和标准设计获国家、省（市）级优秀设计和科研进步奖。</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h4>全过程服务</h4>
        <p>集团业务领域涵盖建筑﹑水利﹑市政和规划四大行业，业务横跨工程咨询﹑工程设计﹑工程承包﹑工程勘察四大类别的项目全过程。主要内容有：建筑设计、历史建筑保护和利用设计、环境与装饰设计、建筑声学设计、项目管理、工程监理、项目可行性研究、投资控制、科技咨询等。2011年度全集团实现营业收入超过人民币33亿元。 </p>
      </div>
      <div class="span6">
        <h4>市场与合作</h4>
        <p>集团已在北京、天津、重庆、武汉、青岛、深圳、西安、厦门、大连、南宁、苏州等地共设有23个内地机构（分公司，办事处，分院），并在香港设有全资子公司。至今集团与美国、加拿大、英国、法国、德国、澳大利亚、日本、新加坡、韩国、香港、台湾等国家和地区的设计机构已合作设计达400多个项目。</p>
      </div>
    </div>
    <!-- tab start -->
    <div class="tabbable">
      <ul class="nav nav-tabs nav-tabs-2">
        <li><a href="#preview_b1" data-toggle="tab">① 业务范围</a></li>
        <li class="active"><a href="#preview_b2" data-toggle="tab">② 业务分布组成</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="preview_b1">
          <h5>投资策划书</h5>
          <ul>
            <li>地区大环境分析</li>
            <li>拟建业态研究</li>
            <li>地质环境分析（选址分析）</li>
          </ul>
          <h5>项目建议书</h5>
          <ul>
            <li>市场分析与预测</li>
            <li>初步进行建设方案的策划</li>
            <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
          </ul>
        </div>
        <div class="tab-pane active" id="preview_b2">
          <p><img src="../public/pie_chart.jpg" alt="饼图"></p>
        </div>
      </div>
    </div>
    <!-- tab end -->
    <p><img src="../public/honor.jpg" alt="集团荣誉"></p>
    <ul>
      <li>美国ENR（工程新闻记录）国际工程设计公司200强</li>
      <li>美国ENR（工程新闻记录）全球工程设计公司150强 </li>
      <li>中国勘察设计100强</li>
      <li>中国工程设计企业60强</li>
    </ul>
    <!-- tab start -->
    <div class="tabbable">
      <ul class="nav nav-tabs nav-tabs-5">
        <li class="active"><a href="#preview_a1" data-toggle="tab">① 决策阶段</a></li>
        <li><a href="#preview_a2" data-toggle="tab">② 前期阶段</a></li>
        <li><a href="#preview_a3" data-toggle="tab">③ 设计阶段</a></li>
        <li><a href="#preview_a4" data-toggle="tab">④ 施工阶段</a></li>
        <li><a href="#preview_a5" data-toggle="tab">⑤ 实用阶段</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="preview_a1">
          <h5>投资策划书</h5>
          <ul>
            <li>地区大环境分析</li>
            <li>拟建业态研究</li>
            <li>地质环境分析（选址分析）</li>
          </ul>
          <h5>项目建议书</h5>
          <ul>
            <li>市场分析与预测</li>
            <li>初步进行建设方案的策划</li>
            <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
          </ul>
        </div>
        <div class="tab-pane" id="preview_a2">
          <p>2</p>
        </div>
        <div class="tab-pane" id="preview_a3">
          <p>3</p>
        </div>
        <div class="tab-pane" id="preview_a4">
          <p>4</p>
        </div>
        <div class="tab-pane" id="preview_a5">
          <p>5</p>
        </div>
      </div>
    </div>
    <!-- tab end -->
    <table summary="TYPO.CSS 的测试平台列表" width="100%" class="table">
      <caption>
      表3.3.1.3-1 燃油系统 — 缩略语
      </caption>
      <thead>
        <tr>
          <th width="20%">缩略语</th>
          <th width="50%">英文</th>
          <th width="30%">中文</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>AC</td>
          <td>Alternating Current</td>
          <td>交流（电）</td>
        </tr>
        <tr>
          <td>APU</td>
          <td>Auxiliary Power Unit</td>
          <td>辅助动力装置</td>
        </tr>
        <tr>
          <td>ATA</td>
          <td>Air Transport Association</td>
          <td>航空运输协会</td>
        </tr>
        <tr>
          <td>DC</td>
          <td>Direct Current</td>
          <td>直流（电）</td>
        </tr>
        <tr>
          <td>DCU</td>
          <td>Data Concentrator Unit</td>
          <td>数据集中装置</td>
        </tr>
        <tr>
          <td>EICAS</td>
          <td>Engine Indication and Crew Alerting System</td>
          <td>发动机指示与机组告警系统</td>
        </tr>
        <tr>
          <td>EMI</td>
          <td>Elector-Magnetic Interface</td>
          <td>电磁干扰</td>
        </tr>
        <tr>
          <td>ESS</td>
          <td>Essential</td>
          <td>重要的</td>
        </tr>
        <tr>
          <td>FOCU</td>
          <td>Fire and Overheat Control Unit</td>
          <td>防火和过热控制装置</td>
        </tr>
        <tr>
          <td>FQC</td>
          <td>Fuel Quantity Computer</td>
          <td>燃油量计算机</td>
        </tr>
        <tr>
          <td>IOC</td>
          <td>Input/Output Concentrator</td>
          <td>输入输出集中器</td>
        </tr>
        <tr>
          <td>LDU</td>
          <td>Lamp Driver Unit</td>
          <td>灯驱动装置</td>
        </tr>
        <tr>
          <td>RDI</td>
          <td>Refuel-Defuel Indicator</td>
          <td>加/放油指示器</td>
        </tr>
        <tr>
          <td>RDP</td>
          <td>Refuel-Defuel Pannel</td>
          <td>加/放油指示板</td>
        </tr>
        <tr>
          <td>SOV</td>
          <td>Shut-Off Valve</td>
          <td>切断阀</td>
        </tr>
        <tr>
          <td>XFEED</td>
          <td>Crossfeed</td>
          <td>交输</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
<!-- richText end --> 

<!-- TAB start -->
<DIV CLASS="epub tab" style="margin:30px;">
  <div class="tabbable">
    <ul class="nav nav-tabs nav-tabs-2">
      <li><a href="#preview_b1" data-toggle="tab">① 业务范围</a></li>
      <li class="active"><a href="#preview_b2" data-toggle="tab">② 业务分布组成</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="preview_b1">
        <h5>投资策划书</h5>
        <ul>
          <li>地区大环境分析</li>
          <li>拟建业态研究</li>
          <li>地质环境分析（选址分析）</li>
        </ul>
        <h5>项目建议书</h5>
        <ul>
          <li>市场分析与预测</li>
          <li>初步进行建设方案的策划</li>
          <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
        </ul>
      </div>
      <div class="tab-pane active" id="preview_b2">
        <p><img src="../public/pie_chart.jpg" alt="饼图"></p>
      </div>
    </div>
  </div>
</div>
<!-- TAB end --> 

<!-- SLIDE start -->
<div id="myCarousel" class="carousel slide" style="margin:0;">
  <div class="carousel-inner">
    <div class="item active"> <img src="../public/preview.jpg" alt="">
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item"> <img src="../public/preview_02.jpg" alt="">
      <div class="carousel-caption">
        <h4>Second Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="item"> <img src="../public/preview_03.jpg" alt="">
      <div class="carousel-caption">
        <h4>Third Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  <!--<div class="pages">1/3</div>-->
</div>
<!-- SLIDE end --> 

<!-- material start -->
<div class="material">
  <div class="preview-content"><img src="../public/preview.jpg" alt="上海浦东陆家嘴金融贸易开发区的中心区"></div>
  <div class="more-info"><a href="javascript:void(0)">更多信息</a></div>
  <div class="info-mod" style="display: none;">
    <div class="info-hd">
      <h4>上海中心大厦</h4>
      <div class="close"><a href="javascript:void(0)">Close</a></div>
    </div>
    <div class="info-bd">
      <p>上海中心大厦，位于浦东的陆家嘴功能区，占地3万多平方米，所处地块东至东泰路，南依银城南路，北靠花园石桥路，西临银城中路，为上海陆家嘴摩天大楼建设计划最后的压轴工程。其建筑设计方案由美国Gensler建筑设计事务所完成，主体建筑结构高度为580米，总高度632米，是目前中国国内建设中的第二高楼。上海中心大厦总投入超过148亿元，按照工程计划，大厦将于2015年全面建成并启用，成为世界第一绿色摩天高楼并与420.5米的金茂大厦、492米的环球金融中心共同构成浦东陆家嘴金融城的金三角，勾勒出上海的摩天大楼天际线。</p>
    </div>
  </div>
</div>
<!-- material end --> 
