<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Jason, 欢迎您登录 - 现代设计集团统一后台管理系统</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<!-- nanoscroll start -->
<link type="text/css" href="../css/nanoscroller.css" rel="stylesheet" media="all">
<script type="text/javascript" src="../js/jquery.nanoscroller.min.js"></script>
<!-- nanoscroll end -->
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="login">
<div class="wrap">
  <div class="row01">
    <div class="row01-container">
      <div class="logo"><img src="../img/logo-xdad.png" alt="Logo"></div>
      <div class="inc">现代设计集团</div>
      <h1>统一后台管理系统</h1>
      <div class="logged-info"> <span class="username"><a href="#">Jason</a></span>
        <button type="button" class="btn btn-login" onclick="window.open('@login.html', '_self')">Log Out</button>
      </div>
    </div>
  </div>
  <div class="row02">
    <div class="row02-container">
      <div class="entrance">
        <ul>
          <li class="website"><a href="list_2col.html">集团网站</a></li>
          <li class="bookshelf"><a href="#">集团iPad书架</a></li>
          <li class="portal"><a href="#">建筑行业门户</a></li>
          <li class="lib"><a href="#">统一资源库</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">&copy; 2012 XIANDAI Architectural Design. All rights reserved.</div>
  </div>
</div>
</body>
</html>