<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>编辑Tab内容 - 现代设计集团统一后台管理系统</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- nanoscroll start -->
<script type="text/javascript" src="../js/jquery.nanoscroller.min.js"></script>
<link type="text/css" href="../css/nanoscroller.css" rel="stylesheet" media="all">
<!-- nanoscroll end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="detail component-management edit-tab non-editable">
<div class="ui-layout">
  <div class="ui-layout-top">
    <div class="adminbar">
      <ul class="quicklinks">
        <li class="logo menu-mod">
          <div class="menu-hd"><span class="logo-icon"></span><span>现代设计集团统一后台管理系统</span></div>
          <div class="menu-bd">
            <ul>
              <li><a href="../../admin/template/@entrance.html">后台入口</a></li>
              <li><a href="../../site/template/welcome.html">集团网站</a></li>
            </ul>
          </div>
        </li>
        <li class="addnew menu-mod">
          <div class="menu-hd"><a href="#">新建</a></div>
          <div class="menu-bd">
            <ul>
              <li><a href="#">教材</a>
                <ul>
                  <li><a href="#">流式布局</a></li>
                  <li><a href="#">版式布局</a></li>
                </ul>
              </li>
              <li><a href="#">专题</a></li>
              <li><a href="#">组件</a></li>
              <li><a href="#">素材</a>
                <ul>
                  <li><a href="#">IMAGE</a></li>
                  <li><a href="#">SLIDESHOW</a></li>
                  <li><a href="#">AUDIO</a></li>
                  <li><a href="#">VIDEO</a></li>
                  <li><a href="#">3D</a></li>
                </ul>
              </li>
              <li><a href="#">文档</a></li>
            </ul>
          </div>
        </li>
        <li class="tip-update"><a href="#" title="0条更新提醒"><span class="count count-0">0</span></a></li>
        <li class="tip-notice"><a href="#" title="7条评论"><span class="count">7</span></a></li>
      </ul>
      <ul class="userinfo">
        <li><a href="#">帮助</a></li>
        <li><a href="#">Jason</a></li>
        <li><a href="#">注销</a></li>
      </ul>
    </div>
  </div>
  <!-- ui-layout-top end -->
  <div class="ui-layout-center">
    <div class="ui-layout-center-hd">
      <h1 class="page-title">编辑内容</h1>
      <div class="tabview">
        <ul>
          <li><a href="edit_info.html">基本信息</a></li>
          <li class="active"><a href="edit_richtext.html">内容</a></li>
        </ul>
      </div>
      <button class="btn btn-small btn-primary action-save" type="button">保存</button>
      <button class="btn btn-small action-preview" type="button" data-target="#preview">预览</button>
      <a class="del" href="#confirmModal">删除条目</a> </div>
    <div class="ui-layout-center-bd">
      <div class="main-column">
        <div class="column-hd">
          <h3>编辑内容 <span class="content-type">类型：Tab组件</span></h3>
          <select class="language">
            <option>中文</option>
            <option>English</option>
          </select>
        </div>
        <div class="column-bd">
          <div class="tabview tab-component">
            <ul>
              <li><a href="#">TAB 1</a></li>
              <li class="active"><a href="#">TAB的名字还是不建议太长 TAB 2</a></li>
              <li><a href="#">TAB 3</a></li>
              <li><a href="#">TAB 4</a></li>
            </ul>
            <div class="add-tab"><a href="#editModal">[+]</a></div>
          </div>
          <div class="typo-hd"></div>
          <div class="typo-bd nanoscrollbar">
            <section class="typo tiny-editor">
              <article>
                <h5>投资策划书</h5>
                <ul>
                  <li>地区大环境分析</li>
                  <li>拟建业态研究</li>
                  <li>地质环境分析（选址分析）</li>
                </ul>
                <h5>项目建议书</h5>
                <ul>
                  <li>市场分析与预测</li>
                  <li>初步进行建设方案的策划</li>
                  <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
                </ul>
              </article>
              <article class="active">
                <p><img src="../public/pie_chart.jpg" alt="饼图"></p>
              </article>
              <article>
                <p>test 3</p>
              </article>
              <article>
                <p>test 4</p>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ui-layout-center end -->
  <div class="ui-layout-right">
    <div class="tabbable lib-mod">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#sA" data-toggle="tab">收藏</a></li>
        <li><a href="#sB" data-toggle="tab">组件</a></li>
        <li><a href="#material">素材库</a></li>
      </ul>
      <div class="tab-content nanoscrollbar">
        <div class="tab-pane active" id="sA">
          <ul>
            <li class="used"><span class="thumb"><img src="../public/thumb.png" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_3d.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb_01.jpg" alt=""></span><span class="title">上海展览中心（原中苏友好大厦）.jpg</span><span class="type"><img src="../img/type/material_video.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li class="used"><span class="thumb"><img src="../public/thumb_02.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_3d.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb_03.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_image.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb.png" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_video.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb.png" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_audio.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb_01.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_image.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb_02.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_image.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li class="used"><span class="thumb"><img src="../public/thumb_03.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_3d.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li><span class="thumb"><img src="../public/thumb.png" alt=""></span><span class="title">陆家嘴上海中心大厦.jpg</span><span class="type"><img src="../img/type/material_video.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="more"><a href="#">载入更多..</a></div>
        </div>
        <div class="tab-pane" id="sB">
          <ul>
            <li class="slide used"><span class="thumb"><img src="../public/thumb_05.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦</span><span class="type"><img src="../img/type/component_slide.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li class="slide"><span class="thumb"><img src="../public/thumb.png" alt=""></span><span class="title">陆家嘴上海中心大厦</span><span class="type"><img src="../img/type/component_slide.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li class="slide"><span class="thumb"><img src="../public/thumb.png" alt=""></span><span class="title">陆家嘴上海中心大厦</span><span class="type"><img src="../img/type/component_slide.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
            <li class="tab"><span class="thumb"><img src="../public/thumb_06.jpg" alt=""></span><span class="title">陆家嘴上海中心大厦</span><span class="type"><img src="../img/type/component_tab.png" width="32" height="32" alt=""></span>
              <div class="action">
                <ul>
                  <li><a href="javascript:void(0)">插入</a></li>
                  <li><a href="#preview">预览</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- tab end --> 
  </div>
  <!-- ui-layout-right end -->
  <div class="ui-layout-left">
    <nav>
      <li class="menu-dashboard">
        <div class="wraparea">
          <h4><a href="#">工作台</a></h4>
        </div>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="list_2col.html">内容管理</a></h4>
        </div>
        <ul>
          <li><a href="list_2col.html">所有内容</a></li>
          <li> <a href="#">新建内容</a>
            <ul>
              <li><a href="#">流式布局</a></li>
              <li><a href="#">版式布局</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="active unfold">
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="list_1col.html">组件</a></h4>
        </div>
        <ul>
          <li><a href="#" class="active">所有</a></li>
          <li><a href="#">新建组件</a></li>
        </ul>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="#">素材</a></h4>
        </div>
        <ul>
          <li><a href="#">所有</a></li>
          <li><a href="#">新建素材</a></li>
          <li><a href="cat_management.html">分类目录</a></li>
          <li><a href="#">收藏夹</a></li>
        </ul>
      </li>
      <li class="menu-lib">
        <div class="wraparea">
          <h4><a href="#">资源库</a></h4>
        </div>
      </li>
      <li class="menu-org">
        <div class="wraparea">
          <h4><a href="content_organization.html">内容组织</a></h4>
        </div>
      </li>
      <li class="menu-user">
        <div class="wraparea">
          <h4><a href="#">用户管理</a></h4>
        </div>
      </li>
      <li class="menu-publish">
        <div class="wraparea">
          <h4><a href="#">发布管理</a></h4>
        </div>
      </li>
    </nav>
  </div>
  <!-- ui-layout-left end --> 
</div>
</body>
</html>