<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>内容列表 - 现代设计集团统一后台管理系统</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<!--<link type="text/css" href="../css/theme_xdad.css" rel="stylesheet" media="all">-->
<!-- nanoscroll start -->
<link type="text/css" href="../css/nanoscroller.css" rel="stylesheet" media="all">
<script type="text/javascript" src="../js/jquery.nanoscroller.min.js"></script>
<!-- nanoscroll end -->
<link type="text/css" href="../css/epub.css" rel="stylesheet" media="all">
</head>
<body class="page-no-permission">
<div class="ui-layout uncollapsed-nav">
  <div class="ui-layout-top">
    <div class="adminbar">
      <ul class="quicklinks">
        <li class="logo menu-mod">
          <div class="menu-hd"><span class="logo-icon"></span><span>现代设计集团统一后台管理系统</span></div>
          <div class="menu-bd">
            <ul>
              <li><a href="../../admin/template/@entrance.html">后台入口</a></li>
              <li><a href="../../site/template/welcome.html">集团网站</a></li>
            </ul>
          </div>
        </li>
        <li class="addnew menu-mod">
          <div class="menu-hd"><a href="#">新建</a></div>
          <div class="menu-bd">
            <ul>
              <li><a href="#">教材</a>
                <ul>
                  <li><a href="#">流式布局</a></li>
                  <li><a href="#">版式布局</a></li>
                </ul>
              </li>
              <li><a href="#">专题</a></li>
              <li><a href="#">组件</a></li>
              <li><a href="#">素材</a>
                <ul>
                  <li><a href="#">IMAGE</a></li>
                  <li><a href="#">SLIDESHOW</a></li>
                  <li><a href="#">AUDIO</a></li>
                  <li><a href="#">VIDEO</a></li>
                  <li><a href="#">3D</a></li>
                </ul>
              </li>
              <li><a href="#">文档</a></li>
            </ul>
          </div>
        </li>
        <li class="tip-update"><a href="#" title="0条更新提醒"><span class="count count-0">0</span></a></li>
        <li class="tip-comment"><a href="#" title="7条评论"><span class="count">7</span></a></li>
      </ul>
      <ul class="userinfo">
        <li><a href="#">帮助</a></li>
        <li><a href="#">Jason</a></li>
        <li><a href="#">注销</a></li>
      </ul>
    </div>
  </div>
  <!-- ui-layout-top end -->
  <div class="ui-layout-center">
    <div class="ui-layout-center-hd">
      <h1 class="page-title">权限不够</h1>
    </div>
    <div class="ui-layout-center-bd">
      <p style="margin:15px 36px;">您无此操作权限。</p>
    </div>
  </div>
  <!-- ui-layout-center end -->
  <div class="ui-layout-right related-info nanoscrollbar">
    <div class="mod publish-mod">
      <div class="mod-hd">发布设定</div>
      <div class="mod-bd">
        <ul>
          <li>
            <input type="checkbox" checked>
            Web
            <select>
              <option>模板</option>
              <option>模板 1</option>
              <option>模板 2</option>
              <option>模板 3</option>
            </select>
          </li>
          <li>
            <input type="checkbox">
            iPad
            <select>
              <option>模板</option>
              <option>模板 1</option>
              <option>模板 2</option>
              <option>模板 3</option>
            </select>
          </li>
        </ul>
      </div>
      <div class="mod-ft"><a class="del" href="#confirmModal" data-toggle="modal">删除条目</a>
        <button class="btn btn-small btn-primary action-save" type="button">更新</button>
        <button class="btn btn-small action-preview" type="button">预览</button>
      </div>
    </div>
    <div class="mod">
      <div class="mod-hd">分类设定</div>
      <div class="mod-bd">
        <div class="categories">
          <ul>
            <li>
              <h4>
                <input type="checkbox" checked>
                分类 1</h4>
              <ul>
                <li>
                  <h4>
                    <input type="checkbox" checked>
                    分类 1.1</h4>
                </li>
                <li>
                  <h4>
                    <input type="checkbox">
                    分类 1.2</h4>
                </li>
                <li>
                  <h4>
                    <input type="checkbox">
                    分类 1.3</h4>
                </li>
              </ul>
            </li>
            <li>
              <h4>
                <input type="checkbox">
                分类 2</h4>
              <ul>
                <li>
                  <h4>
                    <input type="checkbox">
                    分类 2.1</h4>
                  <ul>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.1.1</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.1.2</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.1.3</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.1.4</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.1.5</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.1.6</h4>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>
                    <input type="checkbox">
                    分类 2.2</h4>
                  <ul>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.2.1</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.2.2</h4>
                      <ul>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.2.2.1</h4>
                        </li>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.2.2.2</h4>
                        </li>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.2.2.3</h4>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.2.3</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.2.4</h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.2.5</h4>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>
                    <input type="checkbox">
                    分类 2.3</h4>
                  <ul>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.3.1 </h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.3.2 </h4>
                      <ul>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.3.2.1 </h4>
                        </li>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.3.2.2 </h4>
                        </li>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.3.2.3 </h4>
                        </li>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.3.2.4 </h4>
                        </li>
                        <li>
                          <h4>
                            <input type="checkbox">
                            分类 2.3.2.5 </h4>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.3.3 </h4>
                    </li>
                    <li>
                      <h4>
                        <input type="checkbox">
                        分类 2.3.4 </h4>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- categories --> 
      </div>
    </div>
    <!-- mod end --> 
  </div>
  <!-- ui-layout-right end -->
  <div class="ui-layout-left">
    <nav>
      <li class="menu-dashboard">
        <div class="wraparea">
          <h4><a href="#">工作台</a></h4>
        </div>
      </li>
      <li class="active unfold">
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="list_2col.html">内容管理</a></h4>
        </div>
        <ul>
          <li><a href="list_2col.html" class="active">所有内容</a></li>
          <li> <a href="#">新建内容</a>
            <ul>
              <li><a href="#">流式布局</a></li>
              <li><a href="#">版式布局</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="list_1col.html">组件</a></h4>
        </div>
        <ul>
          <li><a href="#">所有</a></li>
          <li><a href="#">新建组件</a></li>
        </ul>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="#">素材</a></h4>
        </div>
        <ul>
          <li><a href="#">所有</a></li>
          <li><a href="#">新建素材</a></li>
          <li><a href="cat_management.html">分类目录</a></li>
          <li><a href="#">收藏夹</a></li>
        </ul>
      </li>
      <li class="menu-lib">
        <div class="wraparea">
          <h4><a href="#">资源库</a></h4>
        </div>
      </li>
      <li class="menu-org">
        <div class="wraparea">
          <h4><a href="content_organization.html">内容组织</a></h4>
        </div>
      </li>
      <li class="menu-user">
        <div class="wraparea">
          <h4><a href="#">用户管理</a></h4>
        </div>
      </li>
      <li class="menu-publish">
        <div class="wraparea">
          <h4><a href="#">发布管理</a></h4>
        </div>
      </li>
    </nav>
  </div>
  <!-- ui-layout-left end --> 
</div>
</body>
</html>