<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>内容组织 - 现代设计集团统一后台管理系统</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<!-- nanoscroll start -->
<link type="text/css" href="../css/nanoscroller.css" rel="stylesheet" media="all">
<script type="text/javascript" src="../js/jquery.nanoscroller.min.js"></script>
<!-- nanoscroll end -->
<link type="text/css" href="../css/epub.css" rel="stylesheet" media="all">
</head>
<body class="list content-organization">
<div class="ui-layout uncollapsed-nav non-editable">
  <div class="ui-layout-top">
    <div class="adminbar">
      <ul class="quicklinks">
        <li class="logo menu-mod">
          <div class="menu-hd"><span class="logo-icon"></span><span>现代设计集团统一后台管理系统</span></div>
          <div class="menu-bd">
            <ul>
              <li><a href="../../admin/template/@entrance.html">后台入口</a></li>
              <li><a href="../../site/template/welcome.html">集团网站</a></li>
            </ul>
          </div>
        </li>
        <li class="addnew menu-mod">
          <div class="menu-hd"><a href="#">新建</a></div>
          <div class="menu-bd">
            <ul>
              <li><a href="#">教材</a>
                <ul>
                  <li><a href="#">流式布局</a></li>
                  <li><a href="#">版式布局</a></li>
                </ul>
              </li>
              <li><a href="#">专题</a></li>
              <li><a href="#">组件</a></li>
              <li><a href="#">素材</a>
                <ul>
                  <li><a href="#">IMAGE</a></li>
                  <li><a href="#">SLIDESHOW</a></li>
                  <li><a href="#">AUDIO</a></li>
                  <li><a href="#">VIDEO</a></li>
                  <li><a href="#">3D</a></li>
                </ul>
              </li>
              <li><a href="#">文档</a></li>
            </ul>
          </div>
        </li>
        <li class="tip-update"><a href="#" title="0条更新提醒"><span class="count count-0">0</span></a></li>
        <li class="tip-notice"><a href="#" title="7条评论"><span class="count">7</span></a></li>
      </ul>
      <ul class="userinfo">
        <li><a href="#">帮助</a></li>
        <li><a href="#">Jason</a></li>
        <li><a href="#">注销</a></li>
      </ul>
    </div>
  </div>
  <!-- ui-layout-top end -->
  <div class="ui-layout-center">
    <div class="ui-layout-center-hd">
      <h1 class="page-title">内容组织</h1>
      <div class="tabview">
        <ul>
          <li class="active"><a href="#">页面</a></li>
          <li><a href="#">导航</a></li>
        </ul>
      </div>
      <!--<button class="btn btn-small btn-primary action-save" type="button">保存</button>--> 
    </div>
    <div class="ui-layout-center-bd">
      <div class="left-column">
        <div class="column-hd">
          <h3>产品分类</h3>
        </div>
        <div class="column-bd nanoscrollbar">
          <div class="categories">
            <ul>
              <li>
                <h4><a href="#">所有</a></h4>
              </li>
              <li class="active">
                <h4><a href="#">集团网站</a></h4>
              </li>
              <li>
                <h4><a href="#">集团iPad书架</a></h4>
              </li>
            </ul>
          </div>
          <!-- categories --> 
        </div>
        <div class="column-ft"> </div>
      </div>
      <div class="right-column">
        <div class="column-hd">
          <button class="btn btn-small" style="position:absolute; left:20px; right:auto; top:8px;" type="button" data-target="#newPage"><i class="icon-plus-sign"></i> 添加页面</button>
        </div>
        <div class="column-bd nanoscrollbar">
          <div class="categories">
            <ul>
              <li>
                <h4>分类 1</h4>
                <ul>
                  <li>
                    <h4>分类 1.1</h4>
                  </li>
                  <li>
                    <h4>分类 1.2</h4>
                  </li>
                  <li>
                    <h4>分类 1.3</h4>
                  </li>
                </ul>
              </li>
              <li>
                <h4>分类 2</h4>
                <ul>
                  <li>
                    <h4>分类 2.1</h4>
                    <ul>
                      <li>
                        <h4>分类 2.1.1</h4>
                      </li>
                      <li>
                        <h4>分类 2.1.2</h4>
                      </li>
                      <li>
                        <h4>分类 2.1.3</h4>
                      </li>
                      <li>
                        <h4>分类 2.1.4</h4>
                      </li>
                      <li>
                        <h4>分类 2.1.5</h4>
                      </li>
                      <li>
                        <h4>分类 2.1.6</h4>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>分类 2.2</h4>
                    <ul>
                      <li>
                        <h4>分类 2.2.1</h4>
                      </li>
                      <li>
                        <h4>分类 2.2.2</h4>
                        <ul>
                          <li>
                            <h4>分类 2.2.2.1</h4>
                          </li>
                          <li>
                            <h4>分类 2.2.2.2</h4>
                          </li>
                          <li>
                            <h4>分类 2.2.2.3</h4>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4>分类 2.2.3</h4>
                      </li>
                      <li>
                        <h4>分类 2.2.4</h4>
                      </li>
                      <li>
                        <h4>分类 2.2.5</h4>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h4>分类 2.3</h4>
                    <ul>
                      <li>
                        <h4>分类 2.3.1</h4>
                      </li>
                      <li>
                        <h4>分类 2.3.2</h4>
                        <ul>
                          <li>
                            <h4>分类 2.3.2.1</h4>
                          </li>
                          <li>
                            <h4>分类 2.3.2.2</h4>
                          </li>
                          <li>
                            <h4>分类 2.3.2.3</h4>
                          </li>
                          <li>
                            <h4>分类 2.3.2.4</h4>
                          </li>
                          <li>
                            <h4>分类 2.3.2.5</h4>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4>分类 2.3.3</h4>
                      </li>
                      <li>
                        <h4>分类 2.3.4</h4>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="column-ft"> </div>
      </div>
    </div>
  </div>
  <!-- ui-layout-center end -->
  <div class="ui-layout-right related-info nanoscrollbar">
    <div class="mod publish-mod">
      <div class="mod-hd">发布设定</div>
      <div class="mod-bd">
        <ul>
          <li>
            <input type="checkbox" checked>
            <span>WEB</span> </li>
          <li>
            <input type="checkbox">
            <span>iPad</span> </li>
        </ul>
      </div>
      <div class="mod-ft"><a class="del" href="#confirmModal" data-toggle="modal">删除条目</a>
        <button class="btn btn-small btn-primary action-save" type="button">更新</button>
        <button class="btn btn-small action-preview" type="button">预览</button>
      </div>
    </div>
    <div class="mod page-type-mod">
      <div class="mod-hd">页面支持类型</div>
      <div class="mod-bd">
        <ul>
          <li>
            <input type="checkbox">
            <span>内容</span> </li>
          <li>
            <input type="checkbox">
            <span>分类目录</span>
            <select>
              <option>全部</option>
              <option>1级</option>
              <option selected="selected">2级</option>
              <option>3级</option>
              <option>4级</option>
            </select>
          </li>
          <li>
            <input type="checkbox">
            <span>链接</span> </li>
        </ul>
      </div>
    </div>
    <div class="mod settings-mod">
      <div class="mod-hd">设置</div>
      <div class="mod-bd">
        <ul>
          <li>
            <input type="checkbox">
            <span>可追加内容</span> </li>
          <li>
            <input type="checkbox">
            <span>做为导航项</span> </li>
        </ul>
      </div>
    </div>
    <!-- Gap -->
    <div class="mod material-info-mod">
      <div class="mod-hd">分类信息</div>
      <div class="mod-bd">
        <dl>
          <!--<dt>缩略图</dt>-->
          <dd style="padding:15px;">
            <div class="cover"><img src="../public/thumb_medium.jpg" alt=""></div>
            <button class="btn btn-small" type="button">替换</button>
            <!--<input name="" type="file">--> 
          </dd>
        </dl>
        <dl class="inputform">
          <dt>标题</dt>
          <dd>
            <p class="titletitle">陆家嘴上海中心</p>
            <div class="editform" style="display:none;">
              <input type="text" value="" style="width:234px;">
              <div>
                <button class="btn btn-small btn-primary action-save" type="button">保存</button>
                <button class="btn btn-small action-cancel" type="button" style="margin-left:10px;">取消</button>
              </div>
            </div>
          </dd>
        </dl>
        <dl class="textareaform">
          <dt>描述</dt>
          <dd>
            <p>上海现代建筑设计(集团)有限公司是一家以建筑设计为主的现代科技型企业，集团旗下拥有华东建筑设计研究院和上海建筑设计研究院等20余家专业公司和机构。在2008年中国工程设计企业60强排名中跻身于前五名; 2001年至2008年连续八年被美国《工程新闻记录》（ENR）列入“国际工程设计公司200强”和“全球工程设计公司150强”之一。</p>
            <div class="editform" style="display:none;">
              <textarea rows="6" id="description" style="width:246px; margin:0 0 10px;"></textarea>
              <div>
                <button class="btn btn-small btn-primary action-save" type="button">保存</button>
                <button class="btn btn-small action-cancel" type="button" style="margin-left:10px;">取消</button>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <div class="mod list-type-mod">
      <div class="mod-hd">列表模板</div>
      <div class="mod-bd">
        <ul>
          <li> <span>集团网站</span>
            <select>
              <option selected="selected">无</option>
              <option>Tile</option>
              <option>Grid</option>
              <option>List</option>
            </select>
          </li>
          <li> <span>集团iPad书架</span>
            <select>
              <option>无</option>
              <option>Tile</option>
              <option selected="selected">Grid</option>
              <option>List</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
    <div class="mod content-type-mod">
      <div class="mod-hd">内容类型</div>
      <div class="mod-bd">
        <ul>
          <li>
            <input type="checkbox">
            <span>富文本</span> </li>
          <li>
            <input type="checkbox">
            <span>图片组</span> </li>
          <li>
            <input type="checkbox">
            <span>PDF</span> </li>
          <li>
            <input type="checkbox">
            <span>手册</span> </li>
          <li>
            <input type="checkbox">
            <span>画册</span> </li>
          <li>
            <input type="checkbox">
            <span>交互内容</span> </li>
          <li>
            <input type="checkbox">
            <span>投票</span> </li>
        </ul>
      </div>
    </div>
    <div class="mod share-mod">
      <div class="mod-hd">共享</div>
      <div class="mod-bd">
        <ul>
          <li>
            <input type="checkbox">
            <span>集团新媒体APP</span> </li>
          <li>
            <input type="checkbox">
            <span>建筑设计行业门户</span> </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ui-layout-right end -->
  <div class="ui-layout-left">
    <nav>
      <li class="menu-dashboard">
        <div class="wraparea">
          <h4><a href="#">工作台</a></h4>
        </div>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="list_2col.html">内容管理</a></h4>
        </div>
        <ul>
          <li><a href="list_2col.html">所有内容</a></li>
          <li> <a href="#">新建内容</a>
            <ul>
              <li><a href="#">流式布局</a></li>
              <li><a href="#">版式布局</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="list_1col.html">组件</a></h4>
        </div>
        <ul>
          <li><a href="#">所有</a></li>
          <li><a href="#">新建组件</a></li>
        </ul>
      </li>
      <li>
        <div class="wraparea">
          <div class="hitarea"></div>
          <h4><a href="#">素材</a></h4>
        </div>
        <ul>
          <li><a href="#">所有</a></li>
          <li><a href="#">新建素材</a></li>
          <li><a href="cat_management.html">分类目录</a></li>
          <li><a href="#">收藏夹</a></li>
        </ul>
      </li>
      <li class="menu-lib">
        <div class="wraparea">
          <h4><a href="#">资源库</a></h4>
        </div>
      </li>
      <li class="menu-org active">
        <div class="wraparea">
          <h4><a href="content_organization.html">内容组织</a></h4>
        </div>
      </li>
      <li class="menu-user">
        <div class="wraparea">
          <h4><a href="#">用户管理</a></h4>
        </div>
      </li>
      <li class="menu-publish">
        <div class="wraparea">
          <h4><a href="#">发布管理</a></h4>
        </div>
      </li>
    </nav>
  </div>
  <!-- ui-layout-left end --> 
</div>
</body>
</html>