/** initial setup **/
.nano {
	position : relative;
	width : 100%;
	height : 100%;
	overflow : hidden;
}
.nano .content {
	position : absolute;
	overflow : scroll;
	overflow-x : hidden;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
}
.nano .content:focus {
	outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
 visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
 visibility: visible;
}
.nano > .pane {
	background : rgba(255,255,255,.38);
	background: #e9e9e9\9; /* IE6、IE7、IE8、IE9 */
	background: rgba(255,255,255,.38)\9\0; /* IE9*/
	position : absolute;
	width : 7px;
	right : 0;
	top : 0;
	bottom : 0;
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity : .99;
	-webkit-transition : .2s;
	-moz-transition : .2s;
	-o-transition : .2s;
	transition : .2s;
	-moz-border-radius : 1px;
	-webkit-border-radius : 1px;
	border-radius : 1px;
}
.nano > .pane > .slider {
	background: rgba(51,0,0,.38);
	background: #a49191\9; /* IE6、IE7、IE8、IE9 */
	background: rgba(51,0,0,.38)\9\0; /* IE9*/
	position : relative;
	margin : 0;
	-moz-border-radius : 1px;
	-webkit-border-radius : 1px;
	border-radius : 1px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity : 0.99;
}

/* patch for history.work.detail */
.history .container section article .pane { visibility: hidden; }
.history .container section article .slider { visibility: hidden; }
