<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>首页 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="index.html">上海现代建筑设计（集团）有限公司</a> </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="index.html">首页</a> </li>
          <li class="active"><a href="page.html">关于我们</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-1 collapse">
              <li> <a href="#">集团概况</a> </li>
              <li><a href="#">组织架构</a> </li>
              <li><a href="#">合作伙伴</a> </li>
            </ul>
          </li>
          <li><a href="#">客户服务</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-2"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-2 collapse">
              <li> <a href="#">业务范围</a> </li>
              <li><a href="#">服务内容</a> </li>
              <li><a href="#">主要客户</a> </li>
            </ul>
          </li>
          <li><a href="works.html">设计作品</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-3"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-3 collapse">
              <li> <a href="#">全部作品</a> </li>
              <li><a href="#">超高层建筑</a> </li>
              <li><a href="#">交通建筑</a> </li>
              <li><a href="#">医疗卫生建筑</a> </li>
              <li><a href="#">体育建筑</a> </li>
              <li><a href="#">观演建筑</a> </li>
              <li><a href="#">广播电视建筑</a> </li>
              <li><a href="#">规划建筑</a> </li>
            </ul>
          </li>
          <li><a href="history.html">企业文化</a> </li>
          <li><a href="#">加入我们</a> </li>
          <li><a href="#">联系我们</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="inner-container">
    <div class="main-column">
      <section class="typo">
        <hgroup>
          <h1>联系我们</h1>
        </hgroup>
        <article>
          <div class="map-select">
            <p><img src="../public/map.png" alt="MAP"></p>
          </div>
          <div class="location-info" style="position:relative; padding-top:30px;">
            <h4 style="position:absolute; top:0; left:15px; font-size:12px; background:#999; color:#fff; width:42px; text-align:center;height:20px; line-height:20px;">国内</h4>
            <div class="location-mod">
              <div class="location-hd"><a href="javascript:void(0)" class="popup-tip" title="切换位置">上海 <b>&#9660;</b></a></div>
              <div class="location-bd"> 
                <div class="close"><a href="javascript:void(0)">×</a></div>
                <ul>
                  <li class="active">
                    <h4><a href="#">上海</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">北京</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">深圳</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">广州</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">武汉</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">长沙</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">南昌</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">青岛</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">大连</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">厦门</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">杭州</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">成都</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">郑州</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">重庆</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">哈尔滨</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">济南</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">宁波</a></h4>
                  </li>
                  <li>
                    <h4><a href="#">天津</a></h4>
                  </li>
                </ul>
              </div>
            </div>
            <ul>
              <li>地址：上海市石门二路258号</li>
              <li>邮编：200041 </li>
              <li>电话：86-021-52524567</li>
              <li>传真：86-021-62464000</li>
              <li>E-mail：xiandai@xd-ad.com.cn</li>
              <li>网址：www.xd-ad.com.cn</li>
            </ul>
          </div>
          <div class="oversea location-info" style="position:relative; padding-top:30px;">
            <h4 style="position:absolute; top:0; left:15px; font-size:12px; background:#999; color:#fff; width:42px; text-align:center;height:20px; line-height:20px;">海外</h4>
            <div class="location-hd">阿布扎比分公司/Abu Dhabi</div>
            <ul>
              <li>Add: G05&amp;G06; Executive Business Center Bin Arar Tower,Najda Street P.O.Box:107310 ,Abu Dhabi ,UAE</li>
              <li>Liaison: 陆红花 Lu Honghua</li>
              <li>Tel: 971-567242319</li>
              <li>Mobile: 18601771022</li>
              <li>E-mail: honghua_lu@xd-ad.com.cn</li>
            </ul>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
</body>
</html>