<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>首页 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body style="background:#e2e2e2 url('../img/bg_history.jpg');">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="index.html">上海现代建筑设计（集团）有限公司</a> </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="index.html">首页</a> </li>
          <li><a href="page.html">关于我们</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-1 collapse">
              <li> <a href="#">集团概况</a> </li>
              <li><a href="#">组织架构</a> </li>
              <li><a href="#">合作伙伴</a> </li>
            </ul>
          </li>
          <li><a href="#">客户服务</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-2"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-2 collapse">
              <li> <a href="#">业务范围</a> </li>
              <li><a href="#">服务内容</a> </li>
              <li><a href="#">主要客户</a> </li>
            </ul>
          </li>
          <li><a href="works.html">设计作品</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-3"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-3 collapse">
              <li> <a href="#">全部作品</a> </li>
              <li><a href="#">超高层建筑</a> </li>
              <li><a href="#">交通建筑</a> </li>
              <li><a href="#">医疗卫生建筑</a> </li>
              <li><a href="#">体育建筑</a> </li>
              <li><a href="#">观演建筑</a> </li>
              <li><a href="#">广播电视建筑</a> </li>
              <li><a href="#">规划建筑</a> </li>
            </ul>
          </li>
          <li class="active"><a href="history.html">企业文化</a> </li>
          <li><a href="#">加入我们</a> </li>
          <li><a href="#">联系我们</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="inner-container">
    <div class="main-column">
      <section class="work-detail typo">
        <hgroup>
          <h1>曹杨新村</h1>
        </hgroup>
        <article class="nanoscrollbar">
          <p><img src="../public/history/caoyang_village.jpg" alt="曹杨新村"></p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
        </article>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
</body>
</html>