<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>首页 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
<!-- royalslider start -->
<script type="text/javascript" src="../js/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('#full-width-slider').royalSlider({
    arrowsNav: true,
    loop: true,
    keyboardNavEnabled: true,
    controlsInside: false,
    imageScaleMode: 'fill',
    arrowsNavAutoHide: false,
//	autoScaleSliderWidth: 1440,     
//	autoScaleSliderHeight: 800,
    controlNavigation: 'bullets',
    thumbsFitInViewport: false,
    navigateByClick: true,
    startSlideId: 0,
    autoPlay: true,
    transitionType:'move',
    globalCaption: false,
    deeplinking: {
		enabled: true,
		change: false
    },
	autoScaleSlider: false,
    autoPlay: {
		// autoplay options go gere
		enabled: true,
		pauseOnHover: true,
		delay: 5000
	},
    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
    imgWidth: 1600,
    imgHeight: 1000
  });
});
</script>
<link href="../js/royalslider/rs-minimal-white.css" rel="stylesheet">
<link href="../js/royalslider/royalslider.css" rel="stylesheet">
<!-- royalslider end -->
</head>
<body class="homepage" style="padding:0 !important;">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="index.html">上海现代建筑设计（集团）有限公司</a> </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="index.html">首页</a> </li>
          <li><a href="page.html">关于我们</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-1 collapse">
              <li> <a href="#">集团概况</a> </li>
              <li><a href="#">组织架构</a> </li>
              <li><a href="#">合作伙伴</a> </li>
            </ul>
          </li>
          <li><a href="#">客户服务</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-2"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-2 collapse">
              <li> <a href="#">业务范围</a> </li>
              <li><a href="#">服务内容</a> </li>
              <li><a href="#">主要客户</a> </li>
            </ul>
          </li>
          <li><a href="works.html">设计作品</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-3"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-3 collapse">
              <li> <a href="#">全部作品</a> </li>
              <li><a href="#">超高层建筑</a> </li>
              <li><a href="#">交通建筑</a> </li>
              <li><a href="#">医疗卫生建筑</a> </li>
              <li><a href="#">体育建筑</a> </li>
              <li><a href="#">观演建筑</a> </li>
              <li><a href="#">广播电视建筑</a> </li>
              <li><a href="#">规划建筑</a> </li>
            </ul>
          </li>
          <li><a href="history.html">企业文化</a> </li>
          <li><a href="#">加入我们</a> </li>
          <li><a href="#">联系我们</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="width:100%;">
  <div class="inner-container">
    <div class="main-column">
      <section>
        <hgroup class="hide">
          <h1>首页</h1>
        </hgroup>
        <article>
          <div class="sliderContainer fullWidth clearfix">
            <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/04.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/01.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> 
                    <!--<dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>-->
                    <dl>
                      <dt>苏州科学文化艺术中心</dt>
                      <dd>苏州文化艺术中心是苏州标志性的文化高地、多元化的艺术殿堂、国际化的交流平台，也是百姓的精神家园。开业于2007年10月1日，由苏州大剧院、苏艺影城 、苏艺芭蕾舞团、苏州金鸡湖美术馆、园区文化馆、苏艺培训、商业中心等组成。苏艺影城票房一直傲居苏州影院票房之冠，是中国“金鸡奖”永久评奖基地，也是苏州唯一国家挂牌“五星级影院”。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/05.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> 
                    <!--<dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>-->
                    <dl>
                      <dt>苏州科学文化艺术中心</dt>
                      <dd>苏州文化艺术中心是苏州标志性的文化高地、多元化的艺术殿堂、国际化的交流平台，也是百姓的精神家园。开业于2007年10月1日，由苏州大剧院、苏艺影城 、苏艺芭蕾舞团、苏州金鸡湖美术馆、园区文化馆、苏艺培训、商业中心等组成。苏艺影城票房一直傲居苏州影院票房之冠，是中国“金鸡奖”永久评奖基地，也是苏州唯一国家挂牌“五星级影院”。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/02.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/03.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/06.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav">
            <li><a href="page.html">关于我们</a> 
              <!--<ul>
            <li> <a href="#">集团概况</a> </li>
            <li><a href="#">组织架构</a> </li>
            <li><a href="#">合作伙伴</a> </li>
          </ul>--> 
            </li>
            <li><a href="#">客户服务</a> 
              <!--<ul>
            <li> <a href="#">业务范围</a> </li>
            <li><a href="#">服务内容</a> </li>
            <li><a href="#">主要客户</a> </li>
          </ul>--> 
            </li>
            <li><a href="works.html">设计作品</a> 
              <!--<ul>
            <li> <a href="#">全部作品</a> </li>
            <li><a href="#">超高层建筑</a> </li>
            <li><a href="#">交通建筑</a> </li>
            <li><a href="#">医疗卫生建筑</a> </li>
            <li><a href="#">体育建筑</a> </li>
            <li><a href="#">观演建筑</a> </li>
            <li><a href="#">广播电视建筑</a> </li>
            <li><a href="#">规划建筑</a> </li>
          </ul>--> 
            </li>
            <li><a href="history.html">企业文化</a> </li>
            <li><a href="#">加入我们</a> </li>
            <li><a href="contact.html">联系我们</a> </li>
          </ul>
        </article>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="language"><a href="#" class="active">中文版</a> | <a href="#">English</a></div>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
</body>
</html>