<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>集团新闻 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="index.html">上海现代建筑设计（集团）有限公司</a> </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="index.html">首页</a> </li>
          <li><a href="page.html">关于我们</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-1 collapse">
              <li> <a href="#">集团概况</a> </li>
              <li><a href="#">组织架构</a> </li>
              <li><a href="#">合作伙伴</a> </li>
            </ul>
          </li>
          <li><a href="#">客户服务</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-2"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-2 collapse">
              <li> <a href="#">业务范围</a> </li>
              <li><a href="#">服务内容</a> </li>
              <li><a href="#">主要客户</a> </li>
            </ul>
          </li>
          <li><a href="works.html">设计作品</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-3"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-3 collapse">
              <li> <a href="#">全部作品</a> </li>
              <li><a href="#">超高层建筑</a> </li>
              <li><a href="#">交通建筑</a> </li>
              <li><a href="#">医疗卫生建筑</a> </li>
              <li><a href="#">体育建筑</a> </li>
              <li><a href="#">观演建筑</a> </li>
              <li><a href="#">广播电视建筑</a> </li>
              <li><a href="#">规划建筑</a> </li>
            </ul>
          </li>
          <li><a href="history.html">企业文化</a> </li>
          <li><a href="#">加入我们</a> </li>
          <li><a href="#">联系我们</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="inner-container">
    <div class="right-column">
      <section class="list">
        <hgroup>
          <h1>集团新闻</h1>
        </hgroup>
        <article>
          <div class="listview news-list clearfix">
            <ul>
              <li> <span class="title"><a href="page.html">上海现代设计集团签约全球最大的淡水鱼基因库设计合同</a></span><span class="time">刚刚</span> </li>
              <li> <span class="title"><a href="page.html">现代设计集团参建的上海光源工程夺唯一特等奖</a></span><span class="time">2分钟前</span> </li>
              <li> <span class="title"><a href="page.html">乘势中原经济区建设东风 上海现代设计集团进军中原</a></span><span class="time">半小时前</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">3小时前</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">半天前</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">两天前</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位如果名字很长很长如果名字很长很长如果名字很长很长如果名字很长很长如果名字很长很长</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
              <li> <span class="title"><a href="page.html">上海现代设计集团列ENR“全球150强设计公司”第64位</a></span><span class="time">2012.12.21</span> </li>
            </ul>
            <div id="pagination" class="pagination pagination-centered">
              <ul>
                <li class="disabled"><a href="#">«</a></li>
                <li class="disabled"><a href="#">‹</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">›</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </div>
    <div class="left-column">
      <aside>
        <div class="mod menu">
          <ul>
            <li class="active">
              <h4>新闻动态</h4>
              <ul>
                <li class="active">
                  <h4><a href="#">集团新闻</a></h4>
                </li>
                <li>
                  <h4><a href="#">行业动态</a></h4>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
      <!--<aside>
        <div class="mod menu">
          <ul>
            <li class="active">
              <h4><a href="#">五十年代</a></h4>
            </li>
            <li>
              <h4><a href="#">坚持不懈</a></h4>
            </li>
            <li>
              <h4><a href="#">支援全国</a></h4>
            </li>
            <li>
              <h4><a href="#">国家使命</a></h4>
            </li>
          </ul>
        </div>
      </aside>--> 
    </div>
  </div>
</div>
<footer>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
</body>
</html>