<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>首页 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="index.html">上海现代建筑设计（集团）有限公司</a> </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="index.html">首页</a> </li>
          <li class="active"><a href="page.html">关于我们</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-1 collapse">
              <li> <a href="#">集团概况</a> </li>
              <li><a href="#">组织架构</a> </li>
              <li><a href="#">合作伙伴</a> </li>
            </ul>
          </li>
          <li><a href="#">客户服务</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-2"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-2 collapse">
              <li> <a href="#">业务范围</a> </li>
              <li><a href="#">服务内容</a> </li>
              <li><a href="#">主要客户</a> </li>
            </ul>
          </li>
          <li><a href="works.html">设计作品</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-3"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-3 collapse">
              <li> <a href="#">全部作品</a> </li>
              <li><a href="#">超高层建筑</a> </li>
              <li><a href="#">交通建筑</a> </li>
              <li><a href="#">医疗卫生建筑</a> </li>
              <li><a href="#">体育建筑</a> </li>
              <li><a href="#">观演建筑</a> </li>
              <li><a href="#">广播电视建筑</a> </li>
              <li><a href="#">规划建筑</a> </li>
            </ul>
          </li>
          <li><a href="history.html">企业文化</a> </li>
          <li><a href="#">加入我们</a> </li>
          <li><a href="#">联系我们</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="inner-container">
    <div class="main-column">
      <section class="typo">
        <hgroup>
          <h1>集团概况</h1>
        </hgroup>
        <article>
          <p>上海现代建筑设计(集团)有限公司是一家以建筑设计为主的现代科技型企业，集团旗下拥有华东建筑设计研究院和上海建筑设计研究院等20余家专业公司和机构。在2008年中国工程设计企业60强排名中跻身于前6名; 2001年至2011年连续十年被美国《工程新闻记录》（ENR）列入“国际工程设计公司200强”和“全球工程设计公司150强”之一，2011年位列全球第75位。2011年集团荣获中国质量协会与全国用户委员会颁发的“用户满意企业”奖。</p>
          <div class="row-fluid">
            <div class="span6">
              <h4>专业的团队</h4>
              <p>集团现有职工3,500余人，其中包括中国工程院院士2名、国家设计大师6名、国家有突出贡献中青年专家6名。各专业技术人员约占73%, 高级工程师约占25.4%, 技术力量雄厚。</p>
            </div>
            <div class="span6">
              <h4>经验与成就</h4>
              <p>集团累计完成了3万余项工程的设计与咨询，创作成果遍及全国29个省市及20多个国家和地区，其中1000余项工程设计、科研项目和标准设计获国家、省（市）级优秀设计和科研进步奖。</p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <h4>全过程服务</h4>
              <p>集团业务领域涵盖建筑﹑水利﹑市政和规划四大行业，业务横跨工程咨询﹑工程设计﹑工程承包﹑工程勘察四大类别的项目全过程。主要内容有：建筑设计、历史建筑保护和利用设计、环境与装饰设计、建筑声学设计、项目管理、工程监理、项目可行性研究、投资控制、科技咨询等。2011年度全集团实现营业收入超过人民币33亿元。 </p>
            </div>
            <div class="span6">
              <h4>市场与合作</h4>
              <p>集团已在北京、天津、重庆、武汉、青岛、深圳、西安、厦门、大连、南宁、苏州等地共设有23个内地机构（分公司，办事处，分院），并在香港设有全资子公司。至今集团与美国、加拿大、英国、法国、德国、澳大利亚、日本、新加坡、韩国、香港、台湾等国家和地区的设计机构已合作设计达400多个项目。</p>
            </div>
          </div>
          <!-- tab start -->
          <div class="tabbable xdad-h">
            <ul class="nav nav-tabs nav-tabs-2">
              <li><a href="#b1" data-toggle="tab">业务范围</a></li>
              <li class="active"><a href="#b2" data-toggle="tab">业务分布组成</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="b1">
                <h5>投资策划书</h5>
                <ul>
                  <li>地区大环境分析</li>
                  <li>拟建业态研究</li>
                  <li>地质环境分析（选址分析）</li>
                </ul>
                <h5>项目建议书</h5>
                <ul>
                  <li>市场分析与预测</li>
                  <li>初步进行建设方案的策划</li>
                  <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
                </ul>
              </div>
              <div class="tab-pane active" id="b2">
                <p style="text-align:center;"><img src="../public/pie_chart.jpg" alt="饼图"></p>
              </div>
            </div>
          </div>
          <!-- tab end -->
          <p><img src="../public/honor.jpg" alt="集团荣誉"></p>
          <ul>
            <li>美国ENR（工程新闻记录）国际工程设计公司200强</li>
            <li>美国ENR（工程新闻记录）全球工程设计公司150强 </li>
            <li>中国勘察设计100强</li>
            <li>中国工程设计企业60强</li>
          </ul>
          <!-- tab start -->
          <div class="tabbable xdad-h">
            <ul class="nav nav-tabs nav-tabs-5">
              <li class="active"><a href="#a1" data-toggle="tab">决策阶段</a></li>
              <li><a href="#a2" data-toggle="tab">前期阶段</a></li>
              <li><a href="#a3" data-toggle="tab">设计阶段</a></li>
              <li><a href="#a4" data-toggle="tab">施工阶段</a></li>
              <li><a href="#a5" data-toggle="tab">实用阶段</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="a1">
                <h5>投资策划书</h5>
                <ul>
                  <li>地区大环境分析</li>
                  <li>拟建业态研究</li>
                  <li>地质环境分析（选址分析）</li>
                </ul>
                <h5>项目建议书</h5>
                <ul>
                  <li>市场分析与预测</li>
                  <li>初步进行建设方案的策划</li>
                  <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
                </ul>
              </div>
              <div class="tab-pane" id="a2">
                <p>2</p>
              </div>
              <div class="tab-pane" id="a3">
                <p>3</p>
              </div>
              <div class="tab-pane" id="a4">
                <p>4</p>
              </div>
              <div class="tab-pane" id="a5">
                <p>5</p>
              </div>
            </div>
          </div>
          <!-- tab end --> 
        </article>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
</body>
</html>