<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>2012年重点项目 - 设计作品 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- waterfalls start -->
<script type="text/javascript" src="../js/waterfalls/jquery.masonry.js"></script>
<script type="text/javascript" src="../js/waterfalls/jquery.infinitescroll.js"></script>
<script type="text/javascript" src="../js/waterfalls/waterfalls.js"></script>
<!-- waterfalls end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
<script type="text/javascript">
jQuery(document).ready(function($) {
	// waterfalls
	$('.waterfallstream').show();
	$(document).ready(function() {			   
		if ( $(window).width() < 575) {
			$('.waterfallstream').css( {'width':300} );
		} else if ( $(window).width() < 630) {
			$('.waterfallstream').css( {'width':455} );
		} else if ( $(window).width() < 785) {
			$('.waterfallstream').css( {'width':610} );
		} else if ( $(window).width() < 940) {
			$('.waterfallstream').css( {'width':765} );
		} else if ( $(window).width() < 1095) {
			$('.waterfallstream').css( {'width':920} );
		} else if ( $(window).width() < 1250) {
			$('.waterfallstream').css( {'width':1075} );
		} else if ( $(window).width() < 1405) {
			$('.waterfallstream').css( {'width':1230} );
		} else if ( $(window).width() < 1560) {
			$('.waterfallstream').css( {'width':1385} );
		} else if ( $(window).width() < 1715) {
			$('.waterfallstream').css( {'width':1540} );
		} else if ( $(window).width() < 1870) {
			$('.waterfallstream').css( {'width':1695} );
		} else if ( $(window).width() < 2015) {
			$('.waterfallstream').css( {'width':1850} );
		} else if ( $(window).width() >= 2025) {
			$('.waterfallstream').css( {'width':2005} );
		}
	});
	$(window).resize(function() {
		if ( $(window).width() < 575) {
			$('.waterfallstream').css( {'width':300} );
		} else if ( $(window).width() < 630) {
			$('.waterfallstream').css( {'width':455} );
		} else if ( $(window).width() < 785) {
			$('.waterfallstream').css( {'width':610} );
		} else if ( $(window).width() < 940) {
			$('.waterfallstream').css( {'width':765} );
		} else if ( $(window).width() < 1095) {
			$('.waterfallstream').css( {'width':920} );
		} else if ( $(window).width() < 1250) {
			$('.waterfallstream').css( {'width':1075} );
		} else if ( $(window).width() < 1405) {
			$('.waterfallstream').css( {'width':1230} );
		} else if ( $(window).width() < 1560) {
			$('.waterfallstream').css( {'width':1385} );
		} else if ( $(window).width() < 1715) {
			$('.waterfallstream').css( {'width':1540} );
		} else if ( $(window).width() < 1870) {
			$('.waterfallstream').css( {'width':1695} );
		} else if ( $(window).width() < 2015) {
			$('.waterfallstream').css( {'width':1850} );
		} else if ( $(window).width() >= 2025) {
			$('.waterfallstream').css( {'width':2005} );
		}
	});
});
</script>
</head>
<body class="works">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="index.html">上海现代建筑设计（集团）有限公司</a> </div>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="index.html">首页</a> </li>
          <li><a href="page.html">关于我们</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-1"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-1 collapse">
              <li> <a href="#">集团概况</a> </li>
              <li><a href="#">组织架构</a> </li>
              <li><a href="#">合作伙伴</a> </li>
            </ul>
          </li>
          <li><a href="#">客户服务</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-2"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-2 collapse">
              <li> <a href="#">业务范围</a> </li>
              <li><a href="#">服务内容</a> </li>
              <li><a href="#">主要客户</a> </li>
            </ul>
          </li>
          <li class="active"><a href="works.html">设计作品</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse-3"> <i class="icon-chevron-down"></i> </button>
            <ul class="nav-collapse-3 collapse">
              <li> <a href="#">全部作品</a> </li>
              <li><a href="#">超高层建筑</a> </li>
              <li><a href="#">交通建筑</a> </li>
              <li><a href="#">医疗卫生建筑</a> </li>
              <li><a href="#">体育建筑</a> </li>
              <li><a href="#">观演建筑</a> </li>
              <li><a href="#">广播电视建筑</a> </li>
              <li><a href="#">规划建筑</a> </li>
            </ul>
          </li>
          <li><a href="history.html">企业文化</a> </li>
          <li><a href="#">加入我们</a> </li>
          <li><a href="#">联系我们</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="width:auto !important;">
  <div class="inner-container">
    <div class="main-column" style="padding:15px 0;">
      <section class="waterfallstream hide" style="margin:0 auto;">
        <hgroup> 
          <!--<div class="categories-mod">
          <h4><a href="javascript:void(0)">超高层建筑 <b>▼</b></a></h4>
          <div class="nav-bd">
            <ul>
              <li><a href="#">全部</a></li>
              <li class="active"><a href="#">超高层建筑</a></li>
              <li><a href="#">交通建筑</a></li>
              <li><a href="#">医疗卫生建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">体育建筑</a></li>
              <li><a href="#">观演建筑</a></li>
              <li><a href="#">广播电视建筑</a></li>
              <li><a href="#">规划建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">住宅建筑</a></li>
              <li><a href="#">办公建筑</a></li>
              <li><a href="#">宾馆建筑</a></li>
              <li><a href="#">文化建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">商业建筑</a></li>
              <li><a href="#">教育建筑</a></li>
              <li><a href="#">会展建筑</a></li>
              <li><a href="#">科研建筑</a></li>
            </ul>
          </div>
        </div>--> 
        </hgroup>
        <div class="item_list infinite_scroll"> 
          <!-- item start -->
          <div class="item masonry_brick">
            <div class="cover vertical"> <a href="works_detail.html"><img alt="现代设计集团重点项目" width="143" src="../public/works/01.jpg"></a></div>
            <div class="title">现代设计集团重点项目上海中心高层项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/02.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover vertical"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/03.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover vertical"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/04.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/05.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/06.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/07.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/08.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/09.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <div class="item masonry_brick">
            <div class="cover vertical"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/10.jpg"></a></div>
            <div class="title">现代设计集团重点项目</div>
          </div>
          <!-- item end --> 
        </div>
        <div id="more"><a href="works/2.html"></a></div>
        <div id="pagination" class="pagination pagination-centered" style="display:none;">
          <ul>
            <li class="disabled"><a href="#">«</a></li>
            <li class="disabled"><a href="#">‹</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">›</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
</body>
</html>