<!-- item start -->
<div class="item masonry_brick">
  <div class="cover vertical"> <a href="works_detail.html"><img alt="现代设计集团重点项目" width="143" src="../public/works/01.jpg"></a></div>
  <div class="title">现代设计集团重点项目上海中心高层项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/02.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover vertical"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/03.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover vertical"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/04.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/05.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/06.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/07.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/08.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/09.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<div class="item masonry_brick">
  <div class="cover vertical"> <a href="javascript:void(0)"><img alt="现代设计集团重点项目" width="143" src="../public/works/10.jpg"></a></div>
  <div class="title">现代设计集团重点项目</div>
</div>
<!-- item end -->