<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>404 找不到页面</title>
<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div style="width:980px; margin:0 auto; font-family:'microsoft yahei'; color:#7f7f7f;">
  <div style="margin:20px 0; height:56px; line-height:56px; padding-left:40px; font-size:16px; border-bottom:2px solid #333; background:url('../img/icon_404.png') no-repeat left center;">找不到页面</div>
  <div style="font-size:14px;">404错误! <span style="margin-left:10px;"><a href="#" style="color:#7f7f7f;">返回首页</a></span></div>
</div>
</body>
</html>