<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>联系我们 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/jquery.goToTop.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="page">
<div class="wrap">
  <header>
    <div class="inner-header">
      <div class="logo"><a href="welcome.html">上海现代建筑设计（集团）有限公司</a></div>
      <div class="slogan">创意成就梦想</div>
      <nav>
        <li><a href="homepage.html">首页</a></li>
        <li><a href="page.html">关于我们</a></li>
        <li><a href="#">客户服务</a></li>
        <li><a href="works.html">设计作品</a></li>
        <li><a href="#">企业文化</a></li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们 &gt;</a></li>
        <li><a href="contact.html">联系我们 &gt;</a></li>
        <li><a href="#">客户投诉 &gt;</a></li>
      </ul>
      <div class="language"><a href="#">English</a></div>
    </div>
  </header>
  <div class="container">
    <div class="inner-container clearfix">
      <aside>
        <div class="location-mod">
          <div class="prev"><a href="javascript:void(0)">prev</a></div>
          <div class="location-bd">
            <ul>
              <li class="active">
                <h4><a href="#">上海</a></h4>
              </li>
              <li>
                <h4><a href="#">北京</a></h4>
              </li>
              <li>
                <h4><a href="#">深圳</a></h4>
              </li>
              <li>
                <h4><a href="#">广州</a></h4>
              </li>
              <li>
                <h4><a href="#">武汉</a></h4>
              </li>
              <li>
                <h4><a href="#">长沙</a></h4>
              </li>
              <li>
                <h4><a href="#">南昌</a></h4>
              </li>
              <li>
                <h4><a href="#">青岛</a></h4>
              </li>
              <li>
                <h4><a href="#">大连</a></h4>
              </li>
              <li>
                <h4><a href="#">厦门</a></h4>
              </li>
              <li>
                <h4><a href="#">杭州</a></h4>
              </li>
              <li>
                <h4><a href="#">成都</a></h4>
              </li>
              <li>
                <h4><a href="#">郑州</a></h4>
              </li>
              <li>
                <h4><a href="#">重庆</a></h4>
              </li>
              <li>
                <h4><a href="#">哈尔滨</a></h4>
              </li>
              <li>
                <h4><a href="#">济南</a></h4>
              </li>
              <li>
                <h4><a href="#">宁波</a></h4>
              </li>
              <li>
                <h4><a href="#">天津</a></h4>
              </li>
            </ul>
          </div>
          <div class="next"><a href="javascript:void(0)">next</a></div>
        </div>
      </aside>
      <section class="typo">
        <hgroup>
          <h1>联系我们</h1>
        </hgroup>
        <article>
          <p><img src="../img/map.png" alt="MAP" width="620" height="480"></p>
          <ul>
            <li>地址：上海市石门二路258号</li>
            <li>邮编：200041 </li>
            <li>电话：86-021-52524567</li>
            <li>传真：86-021-62464000</li>
            <li>E-mail：xiandai@xd-ad.com.cn</li>
            <li>网址：www.xd-ad.com.cn</li>
          </ul>
        </article>
      </section>
    </div>
  </div>
  <footer id="footer">
    <div class="inner-footer">
      <p class="copyright">Copyright &copy; 2010 XIANDAI Architectural Design. All rights reserved.<br>
        沪ICP备09024479</p>
    </div>
  </footer>
</div>
</body>
</html>