input.error { border: 1px red solid; }
label.error { color: red; font-style: italic; font-size: 12px; font-weight: normal; display: inline; margin-left: 1em; }
.navi ul.links {width: auto !important; }
div.language.ipad {display: none}
div.oversea-location-info { float: left; width: 240px; border: 1px solid #e3e3e3; margin: 30px 0 0; padding: 15px; }
div.ipad-modal {display: none}

header .logo { left:110px;}
header .logo a {width: 400px; background-image: url('images/logo/logo.png')}
.fixed-top header .logo a {background-image: url("images/logo/logo_mini.png")}
header .logo .hometip { top: 65px; }
header .language { display: block; bottom: 15px;}

body.en {letter-spacing: 0px;}
body.en header .logo a {background-image: url("site-xdad/img/logo_en.png")}
body.en header .logo .hometip {top:65px; right: 100px;}
body.en.fixed-top .logo a {background-image: url("site-xdad/img/logo_mini_en.png")}
body.en header .slogan {background-image: url("site-xdad/img/slogan_en.png"); width: 270px; right: -40px;}
body.en header .language {bottom:10px; right:10px;}
body.en.fixed-top header .slogan {background-image: url("site-xdad/img/slogan_mini_en.png"); top: 0px; width: 170px;}
body.en.fixed-top header .language { top:9px; right: 170px;}
body.en .typo {font-family: Helvetica, Tahoma; font-size: 12px; letter-spacing: normal !important;}
body.en .typo h1, body.en .typo h2, body.en .typo h3, body.en .typo h4, body.en .typo h5, body.en .typo h6 { color:#c72135;  }
body.en .typo h1 { font-family: tahoma;}
body.en .typo h2 { font-size:1.5em; }
body.en .typo h3 { font-size:1.3em; }
body.en .typo h4 { font-size:1.1em; }
body.en .typo hgroup h1 {font-size: 22px;}
body.en .navi nav { font-family: Georgia,"Times New Roman",Times,serif; font-size: 12px; }
body.en .navi nav > li { width:112px;}
body.en .navi nav > li > .nav-bd > ul li { overflow: hidden; text-overflow: ellipsis; }
body.en .navi ul.links li { font-family: Tahoma; font-size: 12px; }

body.en aside .menu ul li h4 { font-family: Tahoma; font-size: 12px; }

body.en .location-bd { width:360px;}
body.en .location-bd li {overflow: hidden; text-overflow: ellipsis; width: 110px !important;}
body.en .location-bd li h4 a {text-align: left; padding-left: 1em;}
body.en .location-hd a { font-size:18px;}

body.en .lightbox .slideshow dl dt { font-weight: bold; }
body.en.homepage .royalSlider dl dt { font-family: Georgia,"Times New Roman",Times,serif; font-size: 15px; line-height: 18px; margin-bottom: 10px; padding: 0; font-weight: 700; color: #fff;}
body.en.homepage .royalSlider dl dd { font-family: tahoma; font-size: 12px; line-height: 19px; color: #ccc; }

body.en .categories-mod {font-family: Georgia,"Times New Roman",Times,serif; font-size: 12px;}
body.en .categories-mod { position: static; width: auto; left:50%;}
body.en .categories-mod > .nav-bd > ul > li { font-size: 12px; }

body.en .typo hgroup h1 { white-space: nowrap; overflow: hidden !important; width: 390px; text-overflow: ellipsis; }

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (max--moz-device-pixel-ratio: 2) {
header .logo a { background:url('images/logo/logo@2x.png') no-repeat 0 0; background-size: contain; }
.fixed-top header .logo a { background:url('images/logo/logo_mini@2x.png') no-repeat 0 0; background-size: contain; }
body.en header .logo a { background:url('site-xdad/img/logo_en@2x.png') no-repeat 0 0; background-size: contain; }
body.en header .slogan { background:url('site-xdad/img/slogan_en@2x.png') no-repeat 100% 0; background-size: contain; }
body.en.fixed-top header .logo a { background:url('site-xdad/img/logo_mini_en@2x.png') no-repeat 0 0; background-size: contain; }
body.en.fixed-top header .slogan { background:url('site-xdad/img/slogan_mini_en@2x.png') no-repeat 100% 0; background-size: contain; }
}