<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>系列 － 连环画</title>
<link rel="shortcut icon" href="favicon.ico">
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
</head>
<body class="page detail">
<div class="wrap">
  <header>
    <div class="inner-header">
      <div class="logo"><a href="index.html">阅读</a></div>
      <nav>
        <li><a href="index.html">首页</a></li>
        <li class="active"><a href="list.html">革命</a></li>
        <li><a href="#">历史</a></li>
        <li><a href="#">武侠</a></li>
        <li><a href="#">故事</a></li>
        <li><a href="#">人文</a></li>
        <li><a href="#">探索</a></li>
        <li><a href="#">人物</a></li>
        <li><a href="#">少儿</a></li>
        <li><a href="#">生活</a></li>
      </nav>
      <div class="download">
        <h4>客户端下载</h4>
        <div class="devices"><img src="../img/devices.png" alt=""></div>
        <ul>
          <li><a href="#">iPad版</a></li>
          <li><a href="contact.html">iPhone版</a></li>
          <li><a href="#">Android版</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="inner-container clearfix">
      <section>
        <div class="focus-mod">
          <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
          <div class="desc">
            <h3><a href="#">《秦琼卖马（兴唐传之一）》</a></h3>
            <ul>
              <li>绘图作者：傅伯星 来汶阳 王重义</li>
              <li>文字作者：小戈</li>
              <li>出版社：中国曲艺出版社</li>
              <li>时间：1981</li>
              <li>版次：第1版第1次印刷</li>
              <li>开本：64</li>
              <li>书号：8227.001</li>
            </ul>
          </div>
          <a href="#" class="view">查看系列</a> <a href="#" class="back">« 返回</a> </div>
        <!-- mod end -->
        
        <div class="mod info-mod">
          <div class="hd">
            <h3>简介</h3>
          </div>
          <div class="bd">
            <p>《说唐》以隋末声势壮阔的农民起义为背景，揭露了封建统治阶级的罪恶，反映了人民大众的苦难，歌颂了起义者的业绩，并成功塑造了秦叔宝、程咬金、尉迟恭、罗成、单雄信等形象，使他们成了家喻户晓的英雄人物，长期在民间流传不断。《秦琼卖马》，描写秦琼英雄识宝马◇来，他落难异乡，又忍痛出卖宝马，幸遇侠士单雄信。</p>
            <p>以隋末声势壮阔的农民起义为背景，揭露了封建统治阶级的罪恶，反映了人民大众的苦难，歌颂了起义者的业绩，并成功塑造了秦叔宝、程咬金、尉迟恭、罗成、单雄信等形象，使他们成了家喻户晓的英雄人物，长期在民间流传不断。《秦琼卖马》，描写秦琼英雄识宝马◇来，他落难异乡，又忍痛出卖宝马，幸遇侠士单雄信。</p>
          </div>
        </div>
        <!-- mod end -->
        
        <div class="mod">
          <div class="hd">
            <h3>系列</h3>
          </div>
          <div class="bd">
            <div class="list active">
              <ul>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- list end -->
        <div id="pagination" class="pagination pagination-centered">
          <ul>
            <li class="disabled"><a href="#">«</a></li>
            <li class="disabled"><a href="#">‹</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">›</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </section>
      <aside>
        <div class="upload-mod"> <a href="#" class="action-new">创建自己的连环画</a>
          <div class="desc"><img src="../img/sample_upload.png"><br>
            <p>在这里，您可以上传自己的连环画，可以在ipad、iPhone、android移动终端上浏览。</p>
          </div>
          <a href="#" class="action-upload">我要上传</a> </div>
        <div class="mod">
          <div class="hd">
            <h4>推荐榜</h4>
          </div>
          <div class="bd">
            <ul>
              <li><a href="#">沙家浜</a></li>
              <li><a href="#">蒙面人</a></li>
              <li><a href="#">智取威虎山</a></li>
              <li><a href="#">碧血剑01</a></li>
              <li><a href="#">女娲补天</a></li>
              <li><a href="#">《小女婿》</a></li>
              <li><a href="#">日本偷袭珍珠港</a></li>
              <li><a href="#">黄宗羲</a></li>
            </ul>
          </div>
        </div>
        <div class="mod">
          <div class="hd">
            <h4>热读榜</h4>
          </div>
          <div class="bd">
            <ul>
              <li><a href="#">沙家浜</a></li>
              <li><a href="#">蒙面人</a></li>
              <li><a href="#">智取威虎山</a></li>
              <li><a href="#">碧血剑01</a></li>
              <li><a href="#">女娲补天</a></li>
              <li><a href="#">《小女婿》</a></li>
              <li><a href="#">日本偷袭珍珠港</a></li>
              <li><a href="#">黄宗羲</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<script src="../../../../meta.js" data-main='epub.app.ca_detail_series'></script>
</body>
</html>