<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>阅读 － 连环画</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->

<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- nanoscroll start -->

<link type="text/css" href="../css/nanoscroller.css" rel="stylesheet" media="all">
<!-- nanoscroll end -->


<link type="text/css" href="http://pm.21epub.com/ca/html/site/css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="format-content screen1024x768">
<div class="ui-layout uncollapsed-nav">
  <div class="ui-layout-top">
    <div class="topbar">
      <div class="return"><a href="detail_single.html">‹ 返回</a></div>
      <h3>井冈山 星火燎原终版（忻秉勇）</h3>
      <div class="pages">7/64</div>
    </div>
  </div>
  <!-- ui-layout-top end -->
  <div class="ui-layout-right">
    <div class="content-area">
      <div class="loading"></div>
      <div class="read-area" style="display:none;"> <img src="../public/book/007.jpg"> </div>
      <div class="prev slide-control"><a href="javascript:void(0)">‹</a></div>
      <div class="next slide-control"><a href="javascript:void(0)">›</a></div>
    </div>
  </div>
  <!-- ui-layout-right end -->
  <div class="ui-layout-left">
    <div class="navi nanoscrollbar">
    <div class="nano">
      <div class="content">
        <div class="thumbs">
          <ul>
            <li  class="active" data-img="../public/book/001.jpg"><a href="javascript:void(0);"><img src="../public/thumb/001.jpg"></a></li>
            <li data-img="../public/book/002.jpg"><a href="javascript:void(0);"><img src="../public/thumb/002.jpg"></a></li>
            <li data-img="../public/book/003.jpg"><a href="javascript:void(0);"><img src="../public/thumb/003.jpg"></a></li>
            <li data-img="../public/book/004.jpg"><a href="javascript:void(0);"><img src="../public/thumb/004.jpg"></a></li>
            <li data-img="../public/book/005.jpg"><a href="javascript:void(0);"><img src="../public/thumb/005.jpg"></a></li>
            <li data-img="../public/book/006.jpg"><a href="javascript:void(0);"><img src="../public/thumb/006.jpg"></a></li>
            <li data-img="../public/book/007.jpg"><a href="javascript:void(0);"><img src="../public/thumb/007.jpg"></a></li>
            <li data-img="../public/book/008.jpg"><a href="javascript:void(0);"><img src="../public/thumb/008.jpg"></a></li>
            <li data-img="../public/book/009.jpg"><a href="javascript:void(0);"><img src="../public/thumb/009.jpg"></a></li>
 
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- ui-layout-left end --> 
</div>
<script src="../../../../meta.js" data-main='epub.app.ca_read_test'></script>
</body>
</html>