<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>首页 － 连环画</title>
<link rel="shortcut icon" href="favicon.ico">
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<link type="text/css" href="file://localhost/Users/iamlaozhao/Documents/cityanimation/cityanimation-design/html/site/css/style.css" rel="stylesheet" media="all">
</head>
<body class="page index">
<div class="wrap">
  <header>
    <div class="inner-header">
      <div class="logo"><a href="#">阅读</a></div>
      <nav style="">
        <li class="active"><a href="index.html">首页</a></li>
        <li><a href="list.html">革命</a></li>
        <li><a href="#">历史</a></li>
        <li><a href="#">武侠</a></li>
        <li><a href="#">故事</a></li>
        <li><a href="#">人文</a></li>
        <li><a href="#">探索</a></li>
        <li><a href="#">人物</a></li>
        <li><a href="#">少儿</a></li>
        <li><a href="#">生活</a></li>
      </nav>
      <div class="download">
        <h4>客户端下载</h4>
        <div class="devices"><img src="../img/devices.png" alt=""></div>
        <ul>
          <li><a href="#">iPad版</a></li>
          <li><a href="contact.html">iPhone版</a></li>
          <li><a href="#">Android版</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="inner-container clearfix">
      <section>


        <!-- slideshow start -->
        <div class="slideshow">

          <div class="slideshow-inner">            
              
            <div class="item active"> 
              <a href="/pic/interaction.photogallery.2013-03-03.9847640107/info.html" title="苏武"><img src="http://ca.21epub.com/pic/interaction.photogallery.2013-03-03.9847640107/images/cover/preview?3a15f2f9c6edc21de9b7780612640553" alt="" /></a>
              <div class="slideshow-caption">
                <h3><a href="/pic/interaction.photogallery.2013-03-03.9847640107/info.html">《苏武》</a></h3>
                <p>苏武，中国西汉大臣。(前140—前60)字子卿，汉族，杜陵（今陕西西安东南）人。武帝时为郎。天汉元年（前100年）奉命以中郎将持节出使匈奴，被扣留。匈奴贵族多次威胁利诱，欲使其投降；后将他迁到北海（今贝加尔湖）边牧羊，扬言要公羊生子方可释放他回国。苏武历尽艰辛，留居匈奴十九年持节...</p>
                <ul><li>上海人民美术出版社</li>
                  <li>2012年6月</li>
                </ul></div>
              <div class="overlay"></div>
            </div>
          
                  
                  
                    
            <div class="item "> 
              <a href="/pic/interaction.photogallery.2013-03-04.4340251128/info.html" title="昭君出塞"><img src="http://ca.21epub.com/pic/interaction.photogallery.2013-03-04.4340251128/images/cover/preview?b8122a29c78ba59841dd9fec83318524" alt="" /></a>
              <div class="slideshow-caption">
                <h3><a href="/pic/interaction.photogallery.2013-03-04.4340251128/info.html">《昭君出塞》</a></h3>
                <p>王昭君，名嫱(音qiáng)，字昭君，原为汉宫宫女。公元前54年，匈奴呼韩邪单于被他哥哥郅支单于打败，南迁至长城外的光禄塞下，同西汉结好，曾三次进长安入朝，并向汉元帝请求和亲。王昭君听说后请求出塞和亲。她到匈奴后，被封为“宁胡阏氏”（阏氏，音焉支，意思是“王后”），象征她将给匈奴...</p>
                <ul><li>上海人民美术出版社</li>
                  <li>2012年6月</li>
                </ul></div>
              <div class="overlay"></div>
            </div>
          
                  
                  
                    
            <div class="item "> 
              <a href="/pic/interaction.photogallery.2013-03-04.7019500295/info.html" title="龙宫情侣"><img src="http://ca.21epub.com/pic/interaction.photogallery.2013-03-04.7019500295/images/cover/preview?28ed32c21052ecb0cb7ce459a95e45cf" alt="" /></a>
              <div class="slideshow-caption">
                <h3><a href="/pic/interaction.photogallery.2013-03-04.7019500295/info.html">《龙宫情侣》</a></h3>
                <p>龙宫情侣》主要内容：从前，镇江有一个青年名叫蒋阿端。端午节，他在龙船上表演杂技，不慎失足落水，坠入龙宫。龙王命他在宫中学习歌舞。有一舞女，名叫晚霞，对阿端很钟情，他们彼此相爱。不久，龙王带他们去吴江王府祝寿，晚霞因歌舞出众，被留在宫中教练宫女。晚霞和阿端从此被隔绝，两地相思，十分...</p>
                <ul><li>上海人民美术出版社</li>
                  <li>2012年6月</li>
                </ul></div>
              <div class="overlay"></div>
            </div>
            
          </div>
          <ol class="slideshow-indicators"><li class="active"></li>
            <li class=""></li>
            <li class=""></li>
          </ol>

          
          <a class="left slideshow-control" href="#">‹</a> <a class="right slideshow-control" href="#">›</a> 
        </div> 
        <!-- slideshow end -->



        <div class="mod tab-mod">
          <div class="hd">
            <ul>
              <li class="active"><a href="javascript:void(0)">革命</a></li>
              <li><a href="javascript:void(0)">红色题材</a></li>
              <li><a href="javascript:void(0)">侦探反特</a></li>
              <li><a href="javascript:void(0)">革命战争</a></li>
            </ul>
            <div class="more"><a href="#">更多...</a></div>
          </div>
          <div class="bd">
            <div class="list active">
              <ul>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list"> 2 </div>
            <div class="list"> 3 </div>
            <div class="list"> 4 </div>
          </div>
        </div>
        <!-- list end -->
        <div class="mod tab-mod">
          <div class="hd">
            <ul>
              <li class="active"><a href="javascript:void(0)">历史</a></li>
              <li><a href="javascript:void(0)">红色题材</a></li>
              <li><a href="javascript:void(0)">侦探反特</a></li>
              <li><a href="javascript:void(0)">革命战争</a></li>
            </ul>
            <div class="more"><a href="#">更多...</a></div>
          </div>
          <div class="bd">
            <div class="list active">
              <ul>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list"> 2 </div>
            <div class="list"> 3 </div>
            <div class="list"> 4 </div>
          </div>
        </div>
        <!-- list end -->
        <div class="mod tab-mod">
          <div class="hd">
            <ul>
              <li class="active"><a href="javascript:void(0)">武侠</a></li>
              <li><a href="javascript:void(0)">红色题材</a></li>
              <li><a href="javascript:void(0)">侦探反特</a></li>
              <li><a href="javascript:void(0)">革命战争</a></li>
            </ul>
            <div class="more"><a href="#">更多...</a></div>
          </div>
          <div class="bd">
            <div class="list active">
              <ul>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="single">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
                <li class="series">
                  <div class="cover"><a href="#"><img src="../public/cover_focus_01.jpg" alt=""></a></div>
                  <div class="desc">
                    <h4><a href="#">《秦琼卖马（兴唐传之一）》</a></h4>
                    <ul>
                      <li>出版社：四川人民出版社</li>
                      <li>出版日期：1981年出版</li>
                      <li>页数：54P</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list"> 2 </div>
            <div class="list"> 3 </div>
            <div class="list"> 4 </div>
          </div>
        </div>
        <!-- list end --> 
      </section>
      <aside>
        <div class="upload-mod"> <a href="#" class="action-new">创建自己的连环画</a>
          <div class="desc"><img src="../img/sample_upload.png"><br>
            <p>在这里，您可以上传自己的连环画，可以在ipad、iPhone、android移动终端上浏览。</p>
          </div>
          <a href="#" class="action-upload">我要上传</a> </div>
        <div class="mod">
          <div class="hd">
            <h4>推荐榜</h4>
          </div>
          <div class="bd">
            <ul>
              <li><a href="#">沙家浜</a></li>
              <li><a href="#">蒙面人</a></li>
              <li><a href="#">智取威虎山</a></li>
              <li><a href="#">碧血剑01</a></li>
              <li><a href="#">女娲补天</a></li>
              <li><a href="#">《小女婿》</a></li>
              <li><a href="#">日本偷袭珍珠港</a></li>
              <li><a href="#">黄宗羲</a></li>
            </ul>
          </div>
        </div>
        <div class="mod">
          <div class="hd">
            <h4>热读榜</h4>
          </div>
          <div class="bd">
            <ul>
              <li><a href="#">沙家浜</a></li>
              <li><a href="#">蒙面人</a></li>
              <li><a href="#">智取威虎山</a></li>
              <li><a href="#">碧血剑01</a></li>
              <li><a href="#">女娲补天</a></li>
              <li><a href="#">《小女婿》</a></li>
              <li><a href="#">日本偷袭珍珠港</a></li>
              <li><a href="#">黄宗羲</a></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

<script src="../../../../meta.js" data-main='epub.app.ca_index_html'></script>
</body>
</html>