<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>联系我们 - 上海现代建筑设计（集团）有限公司</title>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/epub.css" rel="stylesheet" media="all">


<script src="../../../meta.js" data-main='epub.app.contact_test'></script>
<style type="text/css">
.epub article p { height:410px;}
</style>

</head>
<body class="page">
<div class="wrap">
  <header>
    <div class="inner-header">
      <div class="logo"><a href="welcome.html">上海现代建筑设计（集团）有限公司</a></div>
      <div class="slogan">创意成就梦想</div>
      <nav>
        <li><a href="homepage.html">首页</a></li>
        <li><a href="page.html">关于我们</a></li>
        <li><a href="#">客户服务</a></li>
        <li><a href="works.html">设计作品</a></li>
        <li><a href="#">企业文化</a></li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们 &gt;</a></li>
        <li><a href="contact.html">联系我们 &gt;</a></li>
        <li><a href="#">客户投诉 &gt;</a></li>
      </ul>
      <div class="language"><a href="#">English</a></div>
    </div>
  </header>
  <div class="container">
    <div class="inner-container clearfix">
      <aside>
        <div class="location-mod">
        
        </div>
      </aside>
      <section class="epub">
        <hgroup>
          <h1>联系我们</h1>
        </hgroup>
        <article>
          <p>
           
          </p>
          <ul>
            <li>地址：上海市石门二路258号</li>
            <li>邮编：200041 </li>
            <li>电话：86-021-52524567</li>
            <li>传真：86-021-62464000</li>
            <li>E-mail：xiandai@xd-ad.com.cn</li>
            <li>网址：www.xd-ad.com.cn</li>
          </ul>
        </article>
      </section>
    </div>
  </div>
  <footer id="footer">
    <div class="inner-footer">
      <p class="copyright">Copyright &copy; 2010 XIANDAI Architectural Design. All rights reserved.<br>
        沪ICP备09024479</p>
    </div>
  </footer>
</div>
<div class="admin"><a href="#">管理后台</a></div>
</body>
</html>