<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>上海现代建筑设计（集团）有限公司</title>
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/jquery.goToTop.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/epub.css" rel="stylesheet" media="all">
<!-- supersized start -->
<script type="text/javascript" src="../js/supersized.2.0.js"></script>
<script type="text/javascript">  
	$(function(){
		$.fn.supersized.options = {
			startwidth: 1440,  
			startheight: 800,
			vertical_center: 1,
			slideshow: 1,
			transition: 1, // 0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
			pause_hover: 0,
			navigation: 0,
			slide_counter: 0,
			slide_captions: 0,
			slide_interval: 6000  
		};
		$('#supersize').supersized(); 
	});
</script>
<!-- supersized end -->
</head>
<body class="welcome">
<div class="container">
  <div class="entrance">
    <div class="logo"><img src="../img/logo_welcome.png" alt="logo"></div>
    <div class="slogan"><img src="../img/slogan_welcome.png" alt="slogan"></div>
    <div class="enter"><a href="homepage.html">ENTER &gt;</a></div>
    <nav>
      <li><a href="page.html" rel="tooltip" title="关于我们">关于我们</a></li>
      <li><a href="#" rel="tooltip" title="客户服务">客户服务</a></li>
      <li class="active"><a href="works.html" rel="tooltip" title="设计作品">设计作品</a></li>
      <li><a href="#" rel="tooltip" title="企业文化">企业文化</a></li>
      <li><a href="history.html" rel="tooltip" title="历史作品" target="_blank">历史作品</a></li>
    </nav>
  </div>
  <div class="overlay"></div>
</div>
<!-- supersized start -->
<div id="loading"></div>
<div id="supersize">
  <ul>
    <li><img src="../public/welcome/01.jpg" alt="背景图01的描述"></li>
    <li><img src="../public/welcome/02.jpg" alt="背景图02的描述"></li>
    <li><a href="#"><img src="../public/welcome/03.jpg" alt="背景图03的描述"></a> </li>
    <li><a href="#"><img src="../public/welcome/04.jpg" alt="背景图04的描述"></a></li>
  </ul>
</div>
<!--<div id="supersize-info">
  <div id="slidecounter"> <span class="slidenumber"></span>/<span class="totalslides"></span> </div>
  <div id="slidecaption"></div>
  <div id="navigation"> <a href="#" id="prevslide"><img src="../img/supersize/back_dull.gif"/></a><a href="#" id="pauseplay"><img src="../img/supersize/pause_dull.gif"/></a><a href="#" id="nextslide"><img src="../img/supersize/forward_dull.gif"/></a> </div>
</div>--> 
<!-- supersized end -->
</body>
</html>