<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>2012年重点项目 - 设计作品 - 上海现代建筑设计（集团）有限公司</title>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/epub.css" rel="stylesheet" media="all">
<script src="../../../meta.js" data-main='epub.app.works20130101'></script>
</head>
<body class="works">
<div class="wrap">
  <header>
    <div class="inner-header">
      <div class="logo"><a href="welcome.html">上海现代建筑设计（集团）有限公司</a></div>
      <div class="slogan">创意成就梦想</div>
      <nav>
        <li><a href="homepage.html">首页</a></li>
        <li><a href="page.html">关于我们</a></li>
        <li><a href="#">客户服务</a></li>
        <li class="active"><a href="works.html">设计作品</a></li>
        <li><a href="#">企业文化</a></li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们 &gt;</a></li>
        <li><a href="contact.html">联系我们 &gt;</a></li>
        <li><a href="#">客户投诉 &gt;</a></li>
      </ul>
      <div class="language"><a href="#">English</a></div>
    </div>
  </header>
  <div class="container">
    <div class="inner-container clearfix">
      <aside>
        <div class="mod menu">
          <ul>
            <li class="active">
              <h4><a href="#">2012年重点项目</a></h4>
            </li>
            <li>
              <h4><a href="#">2010年上海世博会项目</a></h4>
            </li>
            <li>
              <h4><a href="#">城市规划设计</a></h4>
            </li>
            <li>
              <h4><a href="#">建筑设计</a></h4>
              <ul>
                <li>
                  <h4><a href="#">超高层建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">体育建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">交通建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">广电建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">观演建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">科研建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">历史保护建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">文化建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">医疗建筑</a></h4>
                </li>
                <li>
                  <h4><a href="#">会展建筑</a></h4>
                </li>
              </ul>
            </li>
            <li>
              <h4><a href="#">更多类型项目</a></h4>
              <ul>
                <li>
                  <h4><a href="#">分类 1</a></h4>
                </li>
                <li>
                  <h4><a href="#">分类 2</a></h4>
                </li>
                <li>
                  <h4><a href="#">分类 3</a></h4>
                  <ul>
                    <li>
                      <h4><a href="#">分类 3.1</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">分类 3.2</a></h4>
                    </li>
                    <li>
                      <h4><a href="#">分类 3.3</a></h4>
                      <ul>
                        <li>
                          <h4><a href="#">分类 3.3.1</a></h4>
                        </li>
                        <li>
                          <h4><a href="#">分类 3.3.2</a></h4>
                        </li>
                        <li>
                          <h4><a href="#">分类 3.3.3</a></h4>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
      <section> 
        <!--<div class="crumb"><a href="#">首页</a> &gt; <a href="#">设计作品</a> &gt; 2012年重点项目</div>--> 
        <!--<h1>2012年重点项目</h1>-->
        <div class="waterfallstream clearfix">
          <div class="item_list infinite_scroll"></div>
          <div id="more"><a href="works/2.html"></a></div>
          <div id="pagination" class="pagination pagination-centered" style="display:none;"> </div>
        </div>
      </section>
    </div>
  </div>
  <footer id="footer">
    <div class="inner-footer">
      <p class="copyright">Copyright &copy; 2010 XIANDAI Architectural Design. All rights reserved.<br>
        沪ICP备09024479</p>
    </div>
  </footer>
</div>
<div class="admin"><a href="#">管理后台</a></div>
</body>
</html>