/*
	iPad style reset
*/

.history .container { height:672px !important; }
body.zh div.ipad-modal { display:block !important; }
div.language.web {display: none}
<<<<<<< HEAD
div.language.ipad {display: block;}
=======
div.language.ipad {display: block;}
>>>>>>> FETCH_HEAD
