aside .menu ul li.unfold > .wraparea h4 a { color: #c72135 ;}
aside .menu ul li > .wraparea h4 { background-color: #eee; }
aside .menu ul li.active > .wraparea h4 { background: #c72135 url(site-xdad/img/icon_arrow_right.png) no-repeat 92% 50%; }
aside .menu ul li.active > .wraparea h4 a { color: white; }
aside .menu ul li.unfold { margin-bottom: 0px; }


.navi nav > li > .nav-bd { left: 0px; }
.navi nav > li:hover { background-color: #eee; }
.navi nav div.nav-bd ul { background-color: #eee; }
.navi nav > li > .nav-bd > ul { padding-left: 0px; padding-right: 0px; width: 148px;}
.navi nav > li > .nav-bd > ul  li { padding:0px 12px ;}
.navi nav > li > .nav-bd > ul  li.active { background-color: #c72135 ;}
.navi nav > li > .nav-bd > ul  li.active  a { color: white; }
.navi nav > li > .nav-bd > ul  li:hover { background-color: #c72135 ;}
.navi nav > li > .nav-bd > ul  li:hover  a { color: white;  }

.categories-mod > .nav-bd > ul > li { padding-left: 12px;}
.categories-mod > .nav-bd > ul { padding-left: 0px; }
.categories-mod > .nav-bd > ul > li:hover { background-color: #c72135 ;}
.categories-mod > .nav-bd > ul > li:hover  a { color: white; }

header .language { display: block; bottom: 15px; }
aside .menu ul li h4 { text-shadow: 0 0px 0;}