/* typo style */
.typo { font:normal 14px/1.6 Lucida Grande, Verdana, Tahoma, Arial, Simsun, 'Microsoft Yahei', sans-serif; -webkit-font-smoothing: antialiased; letter-spacing:-0.5px; color:#666; }
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6, .typo small { margin:0 0 0.5em; line-height:1.5; color:#333; }
.typo h1 { font-size:1.8em; }
.typo h2 { font-size:1.6em; }
.typo h3 { font-size:1.4em; }
.typo h4 { font-size:1.2em; }
.typo h5, .typo h6 { font-size:1em; }
.typo ul { margin-left:1.9em; margin-bottom:1em; list-style:disc; }
.typo ol { margin-left:1.9em; margin-bottom:1em; list-style:decimal; }
.typo li ul, .typo li ol { margin-top:0; margin-bottom:0; margin-left:2em; }
.typo li ul { list-style:circle; }
.typo li li ul { list-style:square; }
.typo em { font-weight:normal; font-style:italic; }
.typo pre { margin-bottom:1em; }
.typo p { margin:0 0 2em; text-align:justify; text-justify:distribute-all-lines; text-justify:inter-ideograph; }
.typo p:last-child { margin:0; }
.typo small { display:block; margin:1em 0; }
.typo p img { margin-bottom:8px; }
.typo ul, .typo ol { margin:0 0 1em 1.9em; }
.typo li { line-height:1.8; } 
img.size-auto, img.size-full, img.size-large, img.size-medium, .attachment img { max-width:100%; height:auto; }
.alignleft, img.alignleft { display:inline; float:left; margin-right:24px; margin-top:4px; }
.alignright, img.alignright { display:inline; float:right; margin-left:24px; margin-top:4px; }
.aligncenter, img.aligncenter { clear:both; display:block; margin-left:auto; margin-right:auto; }
img.alignleft, img.alignright, img.aligncenter { margin-bottom:12px; }
/* section */
.typo hgroup h1 { margin:0 0 20px; padding:0; height:30px; line-height:30px; padding:0; font-size:18px; font-weight:bold; color:#c72135; }
/* Grid */
.typo .row-fluid { margin:0 0 2em; }
/* Table */
.typo .mceContentBody table { position:relative; border-collapse:separate; border-spacing:2px; margin-bottom:1em; }
.typo .mceContentBody caption { margin-bottom:2px; }
.typo .mceContentBody table th { background:whiteSmoke; }
.typo .mceContentBody table td, .typo .mceContentBody table th, .typo .mceContentBody table caption { border:1px dashed #bbb; }
.typo .mceContentBody table::before { z-index:10; position:absolute; top:-5px; right:-5px; display:block; padding:0 10px; height:20px; line-height:20px; background:#666; color:#fff; font-size:12px; }
.typo .mceContentBody table.table::before { CONTENT:'表格样式 1'; }
.typo .mceContentBody table.table-striped::before { CONTENT:'表格样式 2'; }
.typo .mceContentBody table.table-bordered::before { CONTENT:'表格样式 3'; }
.typo .mceContentBody table.table-condensed::before { CONTENT:'表格样式 4'; }
.typo table.table {}
.typo table.table-striped {}
.typo table.table-bordered {}
.typo table.table-condensed {}
.typo table.table-striped.table-bordered.table-condensed {}
/* List */
.typo .disc li { list-style-type:disc; }
.typo .circle li { list-style-type:circle; }
.typo .square li { list-style-type:square; }
.typo .decimal li { list-style-type:decimal; }
.typo .cjk-ideographic li { list-style-type:cjk-ideographic; }
.typo .lower-roman li { list-style-type:lower-roman; }
.typo .upper-roman li { list-style-type:upper-roman; }
.typo .lower-alpha li { list-style-type:lower-alpha; }
.typo .upper-alpha li { list-style-type:upper-alpha; }
/* Blockquote */
.typo blockquote { margin: 1em 0; color:#999; padding:0.6em 1em; background:#f8f8f8; border-left:0.4em solid #ddd; }
.typo blockquote blockquote { padding:0 0 0 1em; margin-left:2em; }
.typo blockquote p { font-size:13px; margin:0 0 0.5em; line-height:1.5; }
/*.typo blockquote { margin:1.5em 2.5em 2em 2em; background:#fff; border:1px solid #ddd; border-radius:8px; -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 1); box-shadow: 6px 6px 0 #cecece; color:#d86c23; }
.typo blockquote blockquote { border:1px solid #ddd; }
.typo blockquote { padding:.5em 1em 1em; }*/
.typo blockquote p:last-child { margin-bottom:0; }
.typo blockquote.blockquote-s01 {}
.typo blockquote.blockquote-s02 { margin:1em 4em 2em 2em; padding:0 0 0 1em; border-radius:0; border:none; border-left:0.4em solid #ddd; box-shadow:none; }
.typo blockquote.blockquote-s02 blockquote { margin:1em 4em 1em 2em; padding:0 0 0 1em; border-radius:0; border:none; border-left:0.4em solid #ddd; box-shadow:none; }
.typo blockquote.blockquote-s03 { background:url('../img/icon_q.png') no-repeat 0 -15px; margin:1em 4em 2em 0; padding:0 0 0 4.4em; border-radius:0; border:none; box-shadow:none; }
.typo blockquote.blockquote-s03 blockquote  { background:url('../img/icon_q.png') no-repeat 0 -15px; margin:1em 4em 1em 0; padding:0 0 0 4.4em; border-radius:0; border:none; box-shadow:none; }
/* Emphasize */
.typo .message-box { border:1px solid #d4d4d4; border-radius:1px; margin:1em 0; padding:1.2em 2em 1.2em 6em; min-height:70px; }
.typo .message-box.warning { background:#f2f2f2 url('../img/icon_warning.png') no-repeat 1em 1em; }
.typo .message-box.doubt { background:#f2f2f2 url('../img/icon_doubt.png') no-repeat 1em 1em; }
.typo .message-box.info { background:#f2f2f2 url('../img/icon_info.png') no-repeat 1em 1em; }
.typo .message-box.error { background:#f2f2f2 url('../img/icon_error.png') no-repeat 1em 1em; }
.typo .message-box.success { background:#f2f2f2 url('../img/icon_success.png') no-repeat 1em 1em; }
/* Widget */
.accordion-group { border-radius:2px; background:#fff; }
.accordion-heading { background:#f5f5f5; }
figure { margin:0 0 0.6em; text-align:center; }
figure figcaption { text-align:center; padding:1em 0; color:#7f7f7f; }
.typo figure figcaption h4 { font-size:16px; text-align:left; color:#333; }
.typo figure figcaption p { color:#6d6d6d; font-size:16px; text-align:left; color:#7f7f7f; }
figure.lightbox { position:relative; margin:1em 0; /*box-shadow:0px 2px 6px #aaa;*/ }
figure.lightbox::before { position:absolute; top:.8em; right:.8em; display:inline-block; color:white; border:0; box-shadow:0px 2px 6px #aaa; font-family:'Whitney A', 'Whitney B', WhitneyMed, 'Helvetica Neue', Helvetica, sans; font-size:0.73em; line-height:normal; text-transform:none; letter-spacing:inherit; font-weight:500; text-align:right; padding:.7em 3em .7em .9em; /*text-transform:uppercase;*/ background:#7bbe37 url('../img/icon_blank_white.png') no-repeat 85% 48%; -webkit-background-size:1.6em, auto; -moz-background-size:1.6em, auto; -o-background-size:1.6em, auto; background-size:1.6em, auto; }
figure.package::before { content:'HTML'; background:#7bbe37 url('../img/icon_res/icon_html.png') no-repeat 88% 48%; }
figure.cortona3d::before { content:'Cortona3D'; background:#7bbe37 url('../img/icon_res/icon_3d.png') no-repeat 88% 48%; }
figure.image::before { content:'IMAGE'; background:#7bbe37 url('../img/icon_res/icon_image.png') no-repeat 85% 48%; }
figure.component::before { content:'Component'; background:#7bbe37 url('../img/icon_res/icon_widget.png') no-repeat 88% 48%; }
figure.video::before { content:'VIDEO'; background:#7bbe37 url('../img/icon_res/icon_video.png') no-repeat 85% 48%; }
figure.slideshow::before { content:'SLIDESHOW'; background:#7bbe37 url('../img/icon_res/icon_slide.png') no-repeat 88% 48%; }
figure.audio { margin-top:1em; }
figure.audio figcaption { text-align:center; padding:0 0 1em 0; color:#7f7f7f; }
figure.widget { position:relative; }
figure.widget::before { position:absolute; top:.8em; right:.8em; display:inline-block; color:white; border:0; box-shadow:0px 2px 6px #aaa; font-family:'Whitney A', 'Whitney B', WhitneyMed, 'Helvetica Neue', Helvetica, sans; font-size:0.73em; line-height:normal; text-transform:none; letter-spacing:inherit; font-weight:500; text-align:right; padding:.9em 3.3em .7em .8em; text-transform:uppercase; background:#7bbe37 url('../img/icon_blank_white.png') no-repeat 85% 48%; -webkit-background-size:1.6em, auto; -moz-background-size:1.6em, auto; -o-background-size:1.6em, auto; background-size:1.6em, auto; }
figure.widget::before { content:'WIDGET'; }
/* Tab h */
.typo .tabbable.xdad-h { margin:0; }
.typo .tabbable.xdad-h ul { margin:0; }
.typo .tabbable.xdad-h ul li { list-style:none; }
.typo .tabbable.xdad-h .tab-content { padding:20px 0 0; }
.typo .tabbable.xdad-h .tab-content h5 { color:#c20433; }
.typo .tabbable.xdad-h .tab-content ul { margin:0 0 20px; }
.typo .tabbable.xdad-h .tab-content ul:last-child { margin:0 0 5px; }
.typo .tabbable.xdad-h .tab-content ul li { line-height:21px; padding:5px 0 5px 20px; border-bottom:1px solid #eee; background:url('../img/icon_list_style_02.png') no-repeat 0 7px; }
.typo .tabbable.xdad-h .nav-tabs { width:100%; border:none; }
.typo .tabbable.xdad-h .nav-tabs > li { text-align:center; padding:0 0 8px; }
.typo .tabbable.xdad-h .nav-tabs > li.active { background:url('../img/icon_tab_arrow.png') no-repeat 50% 100%; }
.typo .tabbable.xdad-h .nav-tabs > .active > a, .typo .tabbable .nav-tabs > .active > a:hover { background:#929292; color:#fff; }
.typo .tabbable.xdad-h .nav-tabs > li > a { background:#eee; border:none; border-top:1px solid #c20433; margin:0; padding:5px 0; }
.typo .tabbable.xdad-h .nav-tabs-5 > li { width:20%; }
.typo .tabbable.xdad-h .nav-tabs-4 > li { width:25%; }
.typo .tabbable.xdad-h .nav-tabs-3 > li { width:33.33%; }
.typo .tabbable.xdad-h .nav-tabs-2 > li { width:50%; }
/* Tab v */
.typo .tabbable.xdad-v { margin:0; }
.typo .tabbable.xdad-v ul { margin:0; }
.typo .tabbable.xdad-v ul li { list-style:none; }
.typo .tabbable.xdad-v .tab-content { padding:10px 0 0; }
.typo .tabbable.xdad-v .tab-content h5 { color:#c20433; }
.typo .tabbable.xdad-v .tab-content ul { margin:0 0 20px; }
.typo .tabbable.xdad-v .tab-content ul:last-child { margin:0 0 5px; }
.typo .tabbable.xdad-v .tab-content ul li { line-height:21px; padding:5px 0 5px 20px; border-bottom:1px solid #eee; background:url('../img/icon_list_style_01.png') no-repeat 0 7px; }
.typo .tabbable.xdad-v .nav-tabs { float:left; width:215px; border:none; margin-right:40px; }
.typo .tabbable.xdad-v .nav-tabs > li { float:none; background:none; height:36px; padding:0; line-height:36px; margin-bottom:0; border-top:0; border-bottom:1px dotted #e6e6e6; font-size:12px; }
.typo .tabbable.xdad-v .nav-tabs > li a { border:none; padding-left:20px; }
.typo .tabbable.xdad-v .nav-tabs > li.active { border-top:0; border-bottom:1px dotted #e6e6e6; }
.typo .tabbable.xdad-v .nav-tabs > li.active a { border:none;  background:url('../img/icon_arrow.png') no-repeat 92% 50%;  }
.typo .tabbable.xdad-v .nav-tabs > li a:hover { color:#c20433; background-color:transparent; }

/* list-style patch for XDAD */
.typo ul { margin:0 0 2em; }
.typo ul li { list-style:none; line-height:21px; padding:5px 0 5px 20px; background:url('../img/icon_list_style_01.png') no-repeat 0 7px; }