/*
	Reset style
*/
html { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
body, button, input, select, textarea { font:500 12px/1.8 'Microsoft Yahei', sans-serif; }
table { border-collapse:collapse; border-spacing:0; }
th { text-align:inherit; }
fieldset, img { border:0; }
img { max-width:100%; vertical-align:middle; border:0; -ms-interpolation-mode:bicubic; }
iframe { display:block; }
acronym, abbr { border-bottom:1px dotted; font-variant:normal; }
abbr { cursor:help; }
del { text-decoration:line-through; }
address, caption, cite, code, den, em, th, var { font-style:normal; font-weight:500; }
ul, ol { list-style:none; }
caption, th { text-align:left; }
q:before, q:after { content:''; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:text-top\9; }
:root sub, :root sup{ vertical-align:baseline; /* for ie9 and other mordern browsers */ }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ins {text-decoration:none; }
u { text-decoration:underline; }
mark { background:#fffdd1; }
pre, code { font-family:'Courier New', Courier, monospace; }
pre { border:1px solid #ddd; border-left-width:0.4em; background:#fbfbfb; padding:10px; }
small { font-size:12px; color:#888; }
.clearfix:before, .clearfix:after { content:''; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
h1, h2, h3, h4, h5, h6{ font-weight:500; font-weight:800\9; }

/*
	Base style
*/
body { font-family:'Microsoft Yahei', sans-serif; color:#333; font-size:12px; }
a { color:#333; text-decoration:none; }
a:hover { color:#c72135; text-decoration:none; }
a.lightbox-history-works { padding-right:18px; background:url('../img/icon_lightbox.png') no-repeat 100% 50%; }
img { max-width:100%; vertical-align:middle; border:0; -ms-interpolation-mode:bicubic; }

.item { width: 143px; background: #fff; overflow: hidden; margin: 0 0 15px; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

/* navbar */
.navbar { margin-bottom:0 !important; margin-left:0 !important; margin-right:0 !important; }
.navbar-inverse .navbar-inner { border-color:#ccc; }
.navbar .navbar-inner { background:#fff; padding:0; }
.navbar .navbar-inner .header { padding:5px 0; height:40px; }
.navbar .brand { margin-left:10px; padding:0; width:258px; height:40px; text-indent:-9999px; overflow:hidden; background:url('../img/logo_mini.png') no-repeat 0 0; }
/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio: 2), 
screen and (max--moz-device-pixel-ratio: 2) {
.navbar .brand { background:url('../img/logo_mini@2x.png') no-repeat 0 0; background-size: contain; }
}

/* nav */
.navbar ul.nav { margin-bottom:0; }
.navbar ul.nav > li { line-height:38px; border-bottom:1px solid #ccc; position:relative; }
.navbar ul.nav > li > ul { }
.navbar ul.nav > li li { text-indent:15px; line-height:38px; border-top:1px solid #eee; position:relative; }
.navbar ul.nav > li li a:hover { }
.navbar ul.nav li a { display:block; padding-left:20px; }

.navbar-inverse .nav-collapse .nav > li .btn-navbar { position:absolute; right:3px; top:0; z-index:99; }

/* nav */
.homepage article ul.nav { margin-bottom:0; }
.homepage article ul.nav li { line-height:38px; border-bottom:1px solid #ccc; }
.homepage article ul.nav li a { display:block; padding-left:15px; }



footer { text-align:center; border-top:1px solid #eee; background:#f8f8f8; line-height:20px; padding:10px 15px; }
footer .language a { margin:0 5px; }
footer .language a.active { color:#000; font-weight:bold; }





/* RoyalSlider */
#full-width-slider { width:100%; height:240px; color:#000; }
.coloredBlock { padding: 20px 25px; background: rgba(255,0,0,0.6); color: #FFF; width: 200px; left: 20%; top: 5%; }

.infoBlock { position: absolute; top: 40px; right: 0; left: auto; bottom:40px; padding-bottom: 0; overflow:auto; padding:0; min-width:60px; min-height:60px; }

.infoBlock dl { cursor:default; padding:20px 25px; /*background:rgba(0,0,0,0.62);*/ background:url('../img/62black.png'); width:420px; }

.infoBlock h4 { font-size: 20px; line-height: 1.2; margin: 0; padding-bottom: 3px; }
.infoBlock p { font-size: 14px; margin: 4px 0 0; }
.infoBlock a { color: #fff; text-decoration: underline; }
.photosBy { position: absolute; line-height: 24px; font-size: 12px; background: #FFF; color: #000; padding: 0px 10px; position: absolute; left: 12px; bottom: 12px; top: auto; border-radius: 2px; z-index: 25; }
.photosBy a { color: #000; }
.fullWidth { /*max-width: 1440px; margin: 0 auto;*/width:100%; height: 100%; }
.info-mod { position:absolute; top:0; bottom:0; width:100%; max-width:960px; left:50%; margin-left:-480px; }

.infoBlock .more-info { display:block; position:absolute; top:10px; right:10px; z-index:99999; width:40px; height:40px; background:url('../img/icon_plus.png') no-repeat 50% 50%; }


@media screen and (min-width:960px) {
.info-mod { position:absolute; top:0; bottom:0; width:100%; max-width:none; left:0; margin-left:0; }
.infoBlock { height: auto; max-height: 100%; min-width: 420px; left:auto !important; right: 15px !important; top: 15px; bottom:40px; font-size: 12px; }
}
@media screen and (min-width: 640px) and (max-width: 960px) {
.info-mod { position:absolute; top:0; bottom:0; width:100%; max-width:none; left:0; margin-left:0; }
.infoBlock { height: auto; max-height: 100%; min-width:420px; left:auto !important; right: 15px !important; top: 15px; right: auto; font-size: 12px; }
}
@media screen and (max-width:640px) {
.info-mod { position:absolute; top:0; bottom:0; left:0; right:0; width:100%; margin:0 !important; }
.infoBlock { height: auto; max-height: 100%; left:15px !important; right: 15px !important; top: 15px; bottom:40px; font-size: 12px; }
.infoBlock dl { width:100%; padding:20px 0; }
.infoBlock dl dt { margin:0 20px 20px; }
.infoBlock dl dd, .infoBlock dl p { margin:0 20px !important; }

.right-column { float:none !important; margin-left:0 !important; }
.right-column section { margin-left:0 !important; }
.left-column { float:none !important; width:100% !important; }
.left-column .menu { position:relative !important; width:100% !important; }
}




.homepage .main-column { padding:0; }
.main-column { padding:15px; }


/* history-works */
.history-works {  }

.history-works section { position:absolute; top:0; left:60px; bottom:0; right:53%; margin:0; padding:0; }
.history-works section hgroup { position:absolute; left:0; bottom:550px; right:0; }
.history-works section hgroup h1 { height:auto; line-height:30px; border:0; color:#c00; font-size:24px; margin:0; padding:0; }
.history-works section article { position:absolute; top:100px; left:0; bottom:50px; right:0; }
.history-works section article img { width:100% !important; height:auto !important; }

.history-works .work-list { position:relative; padding:90px 0 60px; }

.history-works .work-list h4 { position:absolute; top:50px; right:0; left:0; height:30px; text-align:center; color:#c00; font-size:22px; margin:0 auto; padding:0; line-height:30px;  }

.history-works .work-list .list {  }

.history-works .work-list .list ul { overflow:auto; }
.history-works .work-list .list li { cursor:pointer; display:block; position:relative; min-height:66px; margin:0; padding:10px 10px 10px 92px; border:1px solid transparent; border-bottom:1px solid #bbb; }
.history-works .work-list .list li:hover, .history-works .work-list .list li.active { display:block; position:relative; min-height:66px; margin:0; padding:10px 10px 10px 92px; border:1px solid #cc9; background:#eee; }
.history-works .work-list .list li:last-child { margin:0 !important; }
.history-works .work-list .list li .thumb { display:block; position:absolute; top:10px; left:15px; width:64px; height:64px; border:1px solid #999; border-radius:6px; }
.history-works .work-list .list li .thumb img { display:block; width:64px; height:64px; border-radius:6px; }

.history-works .work-list .prev a { display:block; position:absolute; top:15px; left:50%; margin-left:-18px; width:37px; height:25px; overflow:hidden; background:url('../img/icon_prev_top.png') no-repeat 50% 50%; text-indent:-9999px; }

.history-works .work-list .next a { display:block; position:absolute; bottom:15px; left:50%; margin-left:-18px; width:37px; height:25px; overflow:hidden; background:url('../img/icon_next_bottom.png') no-repeat 50% 50%; text-indent:-9999px; }



/* works */
.waterfallstream .masonry_brick .title { padding:5px; }



