.style1 {
	font-family: FZBoYaFangKanSongK;
	font-size: 16px;
	color: #634C00;
	text-indent:0px;
}
.style2 {
	font-family: FZBoYaFangKanSongK;
	font-size: 15px;
	color: #513C04;
	text-indent:0px;
	Font-style:italic;
	line-height: 18px;
	text-align: justify;
}