

 /*mini reset*/
	html, body, div, form, fieldset, legend, label { margin: 0; padding: 0; }
	table { border-collapse: collapse; border-spacing: 0; }
	th, td { text-align: left; vertical-align: top; }
	h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
	img { border: 0; }

	/*basics*/
	html, body { margin:0; padding:0; height:100%; width:100%; overflow:hidden; font-size:12px; font-family:Arial; }

	h1 { font-family: "Trebuchet MS"; font-size: 20px; font-weight: bold;
		margin: 16px 0; color: #333333; text-shadow: 1px 1px 0 #ccc; }
	h3 { margin:16px 0 8px; font-weight:bold; font-size:14px; }
	h4 { margin:12px 0 8px; font-weight:bold; }
	a { color:#296CCF; }
	button {
		font-family:Arial;
		white-space:nowrap;
		cursor:pointer; background:#f8f8f8; border:1px solid #ccc; border-radius:3px; margin:0; padding:4px 12px;
		box-shadow:inset 0px 1px 3px #f5f5f5; color:#296ccf; font-size:12px; font-weight:bold;
		box-shadow:0 1px 1px #555;
		text-align:center; text-shadow:0 1px 0px #eee;
		background:-moz-linear-gradient(0% 100% 90deg, #eaeaea, #fff);
		background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeaea));
	}
	button:hover { border-color:#aaa; }
	button:active {
		background:#f8f8f8; color:#296ccf;
		background: -moz-linear-gradient(0% 100% 90deg, #fff, #eaeaea);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaea), to(#fff));
	}

	/*page borders*/
	/*.docviewer .doc .page {
		outline:none;
		box-shadow:1px 1px 3px #AAA;
		border-style: solid; border-width: 1px; border-color: #DDD #BBB #BBB #DDD; top:-1px; left:-1px;
	}*/
	
	
	/*=====*/
	
	/*Layout*/
			.docviewer { position:absolute; top:36px; bottom:0; left:0; right:0; }
			.annotation-toolbar {
				cursor:default; position:absolute; top:0px; left:0; right:0; z-index:10;
				-moz-border-radius:0 0 6px 6px; -webkit-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px;
				-webkit-user-select:none; -moz-user-select:none; user-select:none;
				background:#f7f7f7 url("./images/viewer/annotation-toolbar-bg.gif") repeat-x 0 -58px;

				margin: 0;/* 30px;*/
				padding: 0 5px 0;
				height:28px;
				white-space:nowrap;
				overflow:hidden;
				border-bottom: 1px solid #D1D1D1; border-left: 1px solid #D1D1D1; border-right: 1px solid #D1D1D1;
			}

			/*Annotation button styles*/
			.annotation-toolbar span.btn { color:#222; margin:3px 4px; cursor:pointer; display:inline-block; float:left; border:1px solid transparent; border-radius:4px; }
			.annotation-toolbar span.btn:hover,
			.annotation-toolbar span.btn.selected { background-color:#eee; border-color:#ccc; }
			.annotation-toolbar span.btn.active { background-color:#eee; border-color:#999; }
			.annotation-toolbar span.btn.disabled { background-color:transparent; border-color:transparent; cursor:default; opacity: .3; filter: alpha(opacity=30); -ms-filter: "alpha(opacity=30)"; -khtml-opacity: .3; -moz-opacity: .3; }

			.annotation-toolbar .icon-btn { height:20px; width:26px; }
			.annotation-toolbar .text-btn { height:14px; line-height:14px; font-size:14px;  padding:4px 3px 2px 23px; }

			.annotation-toolbar .split-btn .label { display:inline-block; height:14px; line-height:14px; font-size:14px; padding:4px 3px 2px 25px; vertical-align:top; }
			.annotation-toolbar .split-btn .arrow {
				background:url("./images/viewer/sprites.png") no-repeat -9px -155px;
				display:inline-block; vertical-align:top; height:20px; width:18px; border-left:1px solid transparent;
			}
			.annotation-toolbar .split-btn:hover .arrow { border-color:#ccc; }
			.annotation-toolbar .split-btn.active .arrow { border-color:#aaa; }

			/*Annotation Buttons*/
			.annotation-btns {}

			.comment-btn[mode=comment-point] .label { background:url("./images/viewer/sprites.png") no-repeat -6px -226px; }
			.comment-btn[mode=comment-area] .label { background:url("./images/viewer/sprites.png") no-repeat -6px -262px; }
			.comment-btn[mode=comment-text] .label { background:url("./images/viewer/sprites.png") no-repeat -6px -298px; }
			.drawing-btn { background:url("./images/viewer/sprites.png") no-repeat -7px -335px; }
			.highlight-btn { background:url("./images/viewer/sprites.png") no-repeat -8px -372px; }
			.textbox-btn { background:url("./images/viewer/sprites.png") no-repeat -7px -488px; }
			.strikeout-btn { background:url("./images/viewer/sprites.png") no-repeat -7px -525px; }

			/*Comment Dropdown*/
			.dropdown { background:#f5f5f5; border:1px solid silver; left:85px; position:fixed; z-index:10; width:125px; display:none; }
			.dropdown div { padding:8px 6px 8px 28px; cursor:pointer; }
			.dropdown div[mode]:hover { background-color:#e5e5e5; }
			.dropdown div[mode=comment-point] { background:url("./images/viewer/sprites.png") no-repeat -4px -220px; }
			.dropdown div[mode=comment-area] { background:url("./images/viewer/sprites.png") no-repeat -4px -256px; }
			.dropdown div[mode=comment-text] { background:url("./images/viewer/sprites.png") no-repeat -4px -292px; }

			/*Annotation Settings*/
			.settings-container {}
			.annotation-settings { display:none; float:left;  overflow:visible; position:relative; }
			.annotation-settings > div { white-space:nowrap; height:28px; line-height:30px;
				font-size:14px; background:#edf3ff; border:1px solid #dbdbdb; border-style:none solid; margin-left:5px; padding:0 10px; }
			.annotation-settings div > div { vertical-align:top; float:left; }
			.annotation-settings .label { display:inline-block; vertical-align:top; padding-right:3px; }
			.annotation-settings .colors { display:inline-block; padding-top:5px; width:88px; }
			.annotation-settings .color { display:inline-block; width:16px; height:16px; border:1px solid #888; margin:0 2px; cursor:pointer; }
			.annotation-settings .color.selected { outline:2px solid #F0D577; *border-color:#F0D577; }
			.annotation-settings .size { display:inline-block; vertical-align:top; }
			.annotation-settings .size select { margin:4px 0 4px 8px; }
			.annotation-settings .fill { display:inline-block; padding:1px 2px 0 8px; }
			.annotation-settings .fill .color { border-color:transparent; border-radius:3px; padding:2px; position:relative; top:2px; }
			.annotation-settings .fill div.color:hover { border-color:#aaa; background-color:#eee; }
			.annotation-settings .fill .color[color] { background:url("./images/viewer/sprites.png") no-repeat -8px -562px; }
			.annotation-settings .fill .color[color="FFFFFF"] { background:url("./images/viewer/sprites.png") no-repeat -8px -598px; }

			@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2), /* weird ff version */
			only screen and (   -moz-min-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
				.annotation-toolbar .split-btn .arrow { background:url("./images/viewer/sprites@2x.png") no-repeat -9px -155px; background-size: 108px auto; }

				.comment-btn[mode=comment-point] .label { background:url("./images/viewer/sprites@2x.png") no-repeat -6px -226px; background-size: 108px auto; }
				.comment-btn[mode=comment-area] .label { background:url("./images/viewer/sprites@2x.png") no-repeat -6px -262px; background-size: 108px auto; }
				.comment-btn[mode=comment-text] .label { background:url("./images/viewer/sprites@2x.png") no-repeat -6px -298px; background-size: 108px auto; }
				.drawing-btn { background:url("./images/viewer/sprites@2x.png") no-repeat -7px -335px; background-size: 108px auto; }
				.highlight-btn { background:url("./images/viewer/sprites@2x.png") no-repeat -8px -372px; background-size: 108px auto; }
				.textbox-btn { background:url("./images/viewer/sprites@2x.png") no-repeat -7px -488px; background-size: 108px auto; }
				.strikeout-btn { background:url("./images/viewer/sprites@2x.png") no-repeat -7px -525px; background-size: 108px auto; }

				/*Comment Dropdown*/
				.dropdown div[mode=comment-point] { background:url("./images/viewer/sprites@2x.png") no-repeat -4px -220px; background-size: 108px auto; }
				.dropdown div[mode=comment-area] { background:url("./images/viewer/sprites@2x.png") no-repeat -4px -256px; background-size: 108px auto; }
				.dropdown div[mode=comment-text] { background:url("./images/viewer/sprites@2x.png") no-repeat -4px -292px; background-size: 108px auto; }

				/*Annotation Settings*/
				.annotation-settings .fill .color[color] { background:url("./images/viewer/sprites@2x.png") no-repeat -8px -562px; background-size: 108px auto; }
				.annotation-settings .fill .color[color="FFFFFF"] { background:url("./images/viewer/sprites@2x.png") no-repeat -8px -598px; background-size: 108px auto; }
			}
			/*==*/
			.toolbar .btn.narrow .text { font-size:0; padding-left:24px; margin-left:2px; }
			.annotation-toolbar.narrow .text-btn { font-size:0; }
			.annotation-toolbar.narrow .split-btn .label { font-size:0; padding-right:0; }
			.annotation-toolbar.narrow .annotation-settings .label { display:none; }

			/*tipsy*/
			.tipsy { padding: 5px; font-size: 13px; position: absolute; z-index: 100000; }
			.tipsy-inner { padding: 4px 8px 5px 8px; background-color: #FFFAB5; color: #333; max-width: 200px; text-align:left; }
			.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
			.tipsy-arrow {
				position: absolute;
				background: url('data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAIRjAOnwIrcDJxvwkplPtchVQAAOw==') no-repeat top left; width: 9px; height: 5px;
				*background:none; /*data URIs cause warnings in IE7*/ }
			.tipsy-n    .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
			.tipsy-nw   .tipsy-arrow { top: 0; left: 10px; }
			.tipsy-ne   .tipsy-arrow { top: 0; right: 10px; }
			.tipsy-s    .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
			.tipsy-sw   .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
			.tipsy-se   .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
			.tipsy-e    .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
			.tipsy-w    .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

			/*tooltip*/
			.btn-tooltip.tipsy-inner { padding:8px 8px 7px 8px; background-color:black; color:white; max-width:200px; text-align:center;
				border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
				/*===*/
/*layers*/
.docviewer .layer.highlights  { z-index:2; width:100%; height:100%; }
.docviewer .layer.text        { z-index:3; }
.docviewer .layer.strikeouts  { z-index:4; width:100%; height:100%; pointer-events:none; }
.docviewer .comment-lines     { z-index:5; }
.docviewer .page-margin       { z-index:6; }
.docviewer .layer.annotations { z-index:6; width:100%; height:100%; pointer-events:none; }
.docviewer .annotations div   { pointer-events:auto; }
.docviewer .annotations svg * { pointer-events:visiblepainted; }

/*IE pointer-events fixes*/
.no-pointer-events .doc .comment-lines,
.no-pointer-events .doc .strikeouts,
.no-pointer-events .doc .annotations { width:0; height:0; overflow:visible; }

/*Safari pointer-events fix*/
.buggy-pointer-events .doc .layer.text { z-index:7; }

/*cursors*/
.dragging * { cursor:move !important; }
.drawing * { cursor:url("../images/cursors/drawing-cursor.cur") 1 15, url("../images/cursors/drawing-cursor.cur"), crosshair !important; }

.resizing-nesw * { cursor:nesw-resize !important; }
.resizing-nwse * { cursor:nwse-resize !important; }

.docviewer.comment-point-mode .page { cursor:url("../images/cursors/comment-point-cursor.cur") 8 15, url("../images/cursors/comment-point-cursor.cur"), crosshair; }
.docviewer.comment-area-mode .page { cursor:url("../images/cursors/comment-area-cursor.cur") 9 9, url("../images/cursors/comment-area-cursor.cur"), crosshair; }
.docviewer.comment-text-mode .page { cursor:url("../images/cursors/comment-text-cursor.cur") 3 14, url("../images/cursors/comment-text-cursor.cur"), crosshair; }
.docviewer.textbox-mode .page { cursor:url("../images/cursors/textbox-cursor.cur") 9 9, url("../images/cursors/textbox-cursor.cur"), crosshair; }
.docviewer.strikeout-mode .page { cursor:url("../images/cursors/strikeout-cursor.cur") 3 7, url("../images/cursors/strikeout-cursor.cur"), crosshair; }
.docviewer.drawing-mode .page { cursor:url("../images/cursors/drawing-cursor.cur") 1 15, url("../images/cursors/drawing-cursor.cur"), crosshair; }
.docviewer.highlight-mode[color="FFF688"] .page { cursor:url("../images/cursors/hl-cursor-yellow.cur") 3 12, url("../images/cursors/hl-cursor-yellow.cur"), crosshair; }
.docviewer.highlight-mode[color="FCCC6A"] .page { cursor:url("../images/cursors/hl-cursor-orange.cur") 3 12, url("../images/cursors/hl-cursor-orange.cur"), crosshair; }
.docviewer.highlight-mode[color="BFF694"] .page { cursor:url("../images/cursors/hl-cursor-green.cur") 3 12, url("../images/cursors/hl-cursor-green.cur"), crosshair; }
.docviewer.highlight-mode[color="98DDFF"] .page { cursor:url("../images/cursors/hl-cursor-blue.cur") 3 12, url("../images/cursors/hl-cursor-blue.cur"), crosshair; }

.docviewer .point.editable,
.docviewer .point.editable .area-fg { cursor:pointer; }

.docviewer .point.editable,
.docviewer .area-fg.editable,
.docviewer .textbox.editable,
.docviewer .drawing-hitpath.editable,
.docviewer .drawing-bboxpath.editable { cursor:move; }

.docviewer .area-fg.incomplete { cursor:url("../images/cursors/comment-area-cursor.cur") 9 9, url("../images/cursors/comment-area-cursor.cur"), crosshair !important; }
.docviewer .textbox.editable .content { cursor:text; }

.docviewer .resize-handle-0 { cursor:nwse-resize; }
.docviewer .resize-handle-1 { cursor:nesw-resize; }
.docviewer .resize-handle-2 { cursor:nwse-resize; }
.docviewer .resize-handle-3 { cursor:nesw-resize; }

/*context menu*/
.docviewer .context-menu { position:fixed; background-color:#fff; border:1px solid #ccc; box-shadow:1px 1px 5px #777; z-index:10; }
.docviewer .context-menu div { cursor:pointer; padding:3px 8px 3px 24px; font-size:12px; line-height:18px; }
.docviewer .context-menu div:hover { background-color:#eee; }

/*comments*/
.docviewer .comment-lines { display:none; position:absolute; top:5px; left:18px; bottom:0; right:0; pointer-events:none; }
.docviewer .page-margin { position:absolute; top:5px; right:0; bottom:0; width:250px; display:none; }
.docviewer .comment-set { background:#FFFCD6; border:1px solid #E7C054; border-radius:4px; position:absolute; left:10px; width:220px; margin:-8px 0 18px; padding:4px; }
.docviewer .comment-set.emphasized { background:#FFFAB5; border-width:2px; margin:-9px 0 17px; left:9px; }
.docviewer .comment-set.editable.hover { z-index:2; } /*IE7*/
.docviewer .comment-set.editable.hover .menu { display:block; }
.docviewer .comment-set.editing-child .comments { overflow:visible; } /*prevents clipping bug*/
.docviewer .comment-set.emphasized .comments { overflow:visible; } /*prevents focus bug*/
.docviewer .comment-set .menu { display:none; position:absolute; bottom:-26px; right:5px; background:#FFEF98; border:1px solid #E7C054; z-index:2; }
.docviewer .comment-set .menu span { display:inline-block; color:#3E82DD; font-size:13px; padding:3px 3px 0 19px; height:20px; line-height:20px; cursor:pointer; }
.docviewer .comment-set .menu span:hover { color:#000; }
.docviewer .comment-set .menu span.reply { background:url("../images/annotation-sprites.png") no-repeat -10px -34px; }
.docviewer .comment-set .menu span.delete { display:none; background:url("../images/annotation-sprites.png") no-repeat -10px -8px; }
.docviewer .comment-set.incomplete .menu span.reply { display:none; }
.docviewer .comment-set.removable .menu span.delete { display:inline-block; }
.docviewer .comment-set .comments { overflow:hidden; }
.docviewer .comment { position:relative; font-size:13px; border-top:1px solid #F2E2AF; margin-top:4px; padding-top:4px; }
.docviewer .comment.editable { overflow:hidden; margin-bottom:-16px; }
.docviewer .comment:first-child { border-top:none; margin-top:0; padding-top:0; }
.docviewer .comment .owner { color:#777; position:absolute; left:0; height:16px; }
.docviewer .comment .content { display:block; outline:none; border:none; margin:0; padding:0; resize:none; width:100%;
    background:transparent; font-family:Arial, Helvetica, sans-serif; font-size:13px; overflow:hidden; }
.docviewer .comment.editable .content { *position:relative; *top:-1px; } /*IE7*/
.docviewer .show-margins .page-outer { padding-right:260px; }
.docviewer .show-margins .comment-lines { display:block; }
.docviewer .show-margins .page-margin { display:block; }

/*highlights*/
.docviewer .highlight { position:absolute; }
.docviewer .context-menu .add-comment-btn { background:url("../images/annotation-sprites.png") no-repeat -8px -150px; }
.docviewer .context-menu .remove-btn { background:url("../images/annotation-sprites.png") no-repeat -8px -62px;  }
.docviewer .highlight[color="FFF688"].hover,
.docviewer .highlight[color="FFF688"].emphasize,
.docviewer .highlight[color="FFF688"].selected { background:#FFD300 !important; }

.docviewer .highlight[color="FCCC6A"].hover,
.docviewer .highlight[color="FCCC6A"].emphasize,
.docviewer .highlight[color="FCCC6A"].selected { background:#FFAC2D !important; }

.docviewer .highlight[color="BFF694"].hover,
.docviewer .highlight[color="BFF694"].emphasize,
.docviewer .highlight[color="BFF694"].selected { background:#93F000 !important; }

.docviewer .highlight[color="98DDFF"].hover,
.docviewer .highlight[color="98DDFF"].emphasize,
.docviewer .highlight[color="98DDFF"].selected { background:#72CFFD !important; }

/*strikeouts*/
.docviewer .strikeout { position:absolute; background:#f00; }
.docviewer .strikeout-bg { position:absolute; }
.docviewer .strikeout-bg.hover, .docviewer .strikeout-bg.selected { background:#000; opacity:0.1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter:alpha(opacity=10); }

/*textboxes*/
.docviewer .textbox { border:none; padding:4px; margin-top:-6px; margin-left:-6px; position:absolute; }
.docviewer .textbox { background:url("about:blank") no-repeat; } /*for clickable transparent backgrounds in IE*/
.docviewer .textbox.editable:hover { border:1px dashed #ccc; margin-top:-7px; margin-left:-7px; }
.docviewer .textbox.editable.focus, .docviewer .textbox.editable.selected { border:1px dashed #999; margin-top:-7px; margin-left:-7px; }
.docviewer .textbox.editable .handle { position:absolute; left:-4px; right:-4px; top:-4px; bottom:-4px; }
.docviewer .textbox .content {
    padding:2px; margin:0; border:none; outline:none; background:transparent;
    min-height:1em; line-height:1em; font-family:Arial,Helvetica; min-width:1px; white-space:nowrap;
    position:relative; z-index:2; position:static/9; }
.docviewer .textbox .content p { margin:0; } /*For newlines in IE*/
.docviewer .textbox .content span { font-size: 1em !important; } /*In Chrome, some editing can lead to the font-size on be cascaded onto inner elements*/

/*drawings*/
.docviewer .drawing-bbox { position:absolute; display:none; border:1px dashed; }
.docviewer .drawing-bbox.hover { display:block; border-color:#ccc; }
.docviewer .drawing-bbox.select { display:block; border-color:#999; }
.docviewer .complete-drawing-ui { position:absolute; z-index:10; border:1px dotted #888888; min-width:170px; margin:5px 0 0 18px; pointer-events:none; }
.docviewer .drawing-actions {
    position:absolute; bottom:-35px; right:0; white-space:nowrap;
    font-family:Arial; cursor:pointer; margin:0; padding:0px 12px;
    background:#f8f8f8; border:1px solid #ccc; border-radius:3px;
    box-shadow:0 1px 1px #555;
    color:#296ccf; font-size:12px; font-weight:bold;
    text-align:center; text-shadow:0 1px 0px #eee;
    background:-moz-linear-gradient(0% 100% 90deg, #eaeaea, #fff);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eaeaea));
    pointer-events:auto;
}
.docviewer .drawing-actions a { display:inline-block; padding-left:20px; height:26px; line-height:26px; }
.docviewer .drawing-actions a:first-child { margin-right:10px; }
.docviewer .drawing-actions a:hover { color:#000; }
.docviewer .drawing-actions .complete { background:url("../images/annotation-sprites.png") no-repeat -12px -120px; }
.docviewer .drawing-actions .cancel { background:url("../images/annotation-sprites.png") no-repeat -12px -90px; }

/*dialog*/
.overlay { display:none; position:fixed; top:0; left:0; height:100%; width:100%; background:#000; z-index:100; opacity:0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter:alpha(opacity=30); }
.confirm-dialog { position:fixed; color:#333; z-index:101; }
.confirm-dialog .inner { padding:15px; background:#F2F5F7; border:4px solid #ddd; border-radius:3px; box-shadow:0 1px 1px #555; }
.confirm-dialog .message { font-size:13px; font-weight:bold; padding:0 0 18px; text-align:center; }
.confirm-dialog .buttons { text-align:center; }
.confirm-dialog button { margin:0 6px; padding:2px 12px; }

/* retina displays */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2), /* weird ff version */
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .docviewer .comment-set .menu span.reply { background:url("../images/annotation-sprites@2x.png") no-repeat -10px -34px; background-size: 40px auto; }
    .docviewer .comment-set .menu span.delete { display:none; background:url("../images/annotation-sprites@2x.png") no-repeat -10px -8px; background-size: 40px auto; }
    .docviewer .context-menu .add-comment-btn { background:url("../images/annotation-sprites@2x.png") no-repeat -8px -150px; background-size: 40px auto; }
    .docviewer .context-menu .remove-btn { background:url("../images/annotation-sprites@2x.png") no-repeat -8px -62px; background-size: 40px auto; }
    .docviewer .drawing-actions .complete { background:url("../images/annotation-sprites@2x.png") no-repeat -12px -120px; background-size: 40px auto; }
    .docviewer .drawing-actions .cancel { background:url("../images/annotation-sprites@2x.png") no-repeat -12px -90px; background-size: 40px auto; }
}
/*===*/
.docviewer {
	padding: 0;
}
.docviewer .doc {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
	overflow-y: scroll;
}
.docviewer .doc {
	font-size: 10px;
}
.docviewer .font-loader {
	position: fixed;
	top: 0;
	right: 0;
	height: 1px;
	overflow: hidden;
}
.docviewer .font-loader span {
	display: inline-block;
	width: 1px;
	height: 1px;
}
.docviewer .page-outer {
	margin: 15px auto;
	padding: 5px 18px;
	position: relative;
}
.docviewer .page {
	/*background: white;*/
	position: relative;
	overflow: hidden;
}
.docviewer .page .loading-msg {
	display: block;
	position: absolute;
	top: 33%;
	width: 100%;
	text-align: center;
	margin-top: -7px;
	z-index: 10;
	font-weight: bold;
	color: #aaa;
	font-size: 14px;
}
.docviewer .inc-loading {
	position: absolute;
	bottom: 10px;
	right: 24px;
	width: 200px;
	text-align: center;
	z-index: 10;
}
.docviewer .inc-loading .bar {
	height: 4px;
	width: 180px;
	margin: 2px auto;
}
.docviewer .inc-loading .bar .progress {
	height: 100%;
	width: 0%;
	float: left;
}
.docviewer .conversion-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}
.docviewer .conversion-overlay .msg {
	position: absolute;
	top: 45%;
	left: 50%;
	height: 20px;
	width: 200px;
	margin: -10px 0 0 -100px;
}
.docviewer .conversion-overlay .msg span {
	font-size: 16px;
	padding-left: 24px;
	background: url("data: image/gif;
	base64,R0lGODlhEAALAPQAAP///wAAANra2tDQ0Orq6gYGBgAAAC4uLoKCgmBgYLq6uiIiIkpKSoqKimRkZL6+viYmJgQEBE5OTubm5tjY2PT09Dg4ONzc3PLy8ra2tqCgoMrKyu7u7gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA") no-repeat left center;
	*padding-left: 0;
	*background: none;
}
.docviewer .error-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	z-index: 2;
	background: #fff;
}
.docviewer .error-overlay .msg {
	position: absolute;
	top: 45%;
	left: 50%;
	height: 20px;
	width: 290px;
	margin: -10px 0 0 -145px;
}
.docviewer .error-overlay .msg h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
.docviewer .error-overlay .msg p {
	font-size: 13px;
	margin: 5px 0;
}
.doc.mobile {
	-webkit-overflow-scrolling: touch;
}
.doc.mobile.no-inertia {
	-webkit-overflow-scrolling: auto;
}
.doc.mobile .ln.x span {
	white-space: nowrap;
}
.doc.mobile .page.hidden .layer {
	display: none;
}
.docviewer .doc {
	background: #eee;
}
.docviewer .page {
	outline: 1px solid #BBB;
}
.docviewer .inc-loading {
	text-shadow: 1px 1px 0 #fff;
}
.docviewer .inc-loading .bar {
	border: 1px solid #999;
	background: #fff;
}
.docviewer .inc-loading .bar .progress {
	background-color: #ccc;
}
