<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>历史作品 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/jquery.goToTop.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
<!-- supersized start -->
<script type="text/javascript" src="../js/supersized.2.0.js"></script>
<script type="text/javascript">  
	$(function(){
		$.fn.supersized.options = {
			startwidth: 1440,  
			startheight: 1000,
			vertical_center: 1,
			slideshow: 0,
			transition: 0, // 0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
			pause_hover: 0,
			navigation: 0,
			slide_counter: 0,
			slide_captions: 0,
			slide_interval: 6000  
		};
		$('#supersize').supersized(); 
	});
</script>
<!-- supersized end -->
<!-- nanoscroll start -->
<link type="text/css" href="../css/nanoscroller.css" rel="stylesheet" media="all">
<script type="text/javascript" src="../js/jquery.nanoscroller.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.nanoscrollbar').wrapInner('<div class="nano"><div class="content"></div></div>');
	$('.nano').nanoScroller();
});
</script>
<!-- nanoscroll end -->
</head>
<body class="history">
<div class="close" onclick="javascript:window.close(); return false;"><a href="javascript:void(0)">CLOSE [X]</a></div>
<div class="container">
  <div class="history-works">
    <section class="work-detail typo">
      <hgroup>
        <h1>曹杨新村</h1>
      </hgroup>
      <article class="nanoscrollbar">
        <p><img src="../public/history/caoyang_village.jpg" alt="曹杨新村"></p>
        <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
        <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
        <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
        <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
      </article>
    </section>
    <div class="work-list">
      <h4>1952-1959</h4>
      <div class="list nanoscrollbar">
        <ul>
          <li class="active">
            <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
            <div class="title">曹杨新村</div>
            <div class="sub-title">Caoyang New Village</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
            <div class="title">龙华塔 历史建筑保护和利用项目</div>
            <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
            <div class="title">杭州屏风山疗养院</div>
            <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
            <div class="title">鲁迅墓及鲁迅纪念馆</div>
            <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
            <div class="title">上海展览中心（原中苏友好大厦）</div>
            <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
            <div class="title">龙华塔 历史建筑保护和利用项目</div>
            <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
            <div class="title">杭州屏风山疗养院</div>
            <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
            <div class="title">鲁迅墓及鲁迅纪念馆</div>
            <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
            <div class="title">上海展览中心（原中苏友好大厦）</div>
            <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
          </li>
          <li>
            <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
            <div class="title">龙华塔 历史建筑保护和利用项目</div>
            <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
          </li>
        </ul>
      </div>
      <div class="prev"><a href="javascript:void(0)">prev</a></div>
      <div class="next"><a href="javascript:void(0)">next</a></div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- supersized start -->
<div id="loading"></div>
<div id="supersize">
  <ul>
    <li><img src="../img/bg_history.jpg" alt=""></li>
  </ul>
</div>
<!-- supersized end -->
</body>
</html>