<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>首页 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/jquery.goToTop.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="homepage">
<div class="wrap">
  <header>
    <div class="inner-header">
      <div class="logo"><a href="welcome.html">上海现代建筑设计（集团）有限公司</a></div>
      <div class="slogan">创意成就梦想</div>
      <nav>
        <li class="active"><a href="homepage.html">首页</a></li>
        <li><a href="page.html">关于我们</a></li>
        <li><a href="#">客户服务</a></li>
        <li><a href="works.html">设计作品</a></li>
        <li><a href="#">企业文化</a></li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们 &gt;</a></li>
        <li><a href="contact.html">联系我们 &gt;</a></li>
        <li><a href="#">客户投诉 &gt;</a></li>
      </ul>
      <div class="language"><a href="#">English</a></div>
    </div>
  </header>
  <div class="container">
    <div class="inner-container clearfix">
      <section class="typo">
        <hgroup>
          <h1>首页</h1>
        </hgroup>
        <article> 
          <!-- slideshow start -->
          <div class="slideshow">
            <div class="foto">
              <ul>
                <li class="active"><img src="../public/slide_01.jpg" alt=""></li>
                <li><img src="../public/slide_01.jpg" alt=""></li>
                <li><img src="../public/slide_01.jpg" alt=""></li>
              </ul>
            </div>
            <div class="prev"><a href="javascript:void(0)">prev</a></div>
            <div class="next"><a href="javascript:void(0)">next</a></div>
            <dl>
              <dt>2012年现代设计重点项目</dt>
              <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
              <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
              <dd>建筑高度（m）：420.5</dd>
              <dd>合作设计单位：芝加哥SOM公司</dd>
            </dl>
            <div class="overlay"></div>
          </div>
          <!-- slideshow end -->
          <div class="row-fluid">
            <div class="span4">
              <p><img src="../public/honor_homepage.jpg" alt="集团荣誉"></p>
            </div>
            <div class="span8">
              <ul>
                <li>美国《工程新闻记录》（ENR）“国际工程设计公司200强”和“全球工程设计公司150强”之一，2011年位列全球第67位。</li>
                <li>2011年集团荣获中国质量协会与全国用户委员会颁发的“用户满意企业”奖。</li>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
  <footer id="footer">
    <div class="inner-footer">
      <p class="copyright">Copyright &copy; 2010 XIANDAI Architectural Design. All rights reserved.<br>
        沪ICP备09024479</p>
    </div>
  </footer>
</div>
</body>
</html>