<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<script type="text/javascript" src="../js/jquery.goToTop.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
<!-- supersized start -->
<script type="text/javascript" src="../js/supersized.2.0.js"></script>
<script type="text/javascript">  
	$(function(){
		$.fn.supersized.options = {
			startwidth: 1440,  
			startheight: 800,
			vertical_center: 1,
			slideshow: 1,
			transition: 1, // 0-None, 1-Fade, 2-slide top, 3-slide right, 4-slide bottom, 5-slide left
			pause_hover: 0,
			navigation: 0,
			slide_counter: 0,
			slide_captions: 0,
			slide_interval: 6000  
		};
		$('#supersize').supersized(); 
	});
</script>
<!-- supersized end -->
</head>
<body class="welcome">
<div class="container">
  <div class="entrance">
    <div class="logo"><img src="../img/logo_welcome.png" alt="logo"></div>
    <div class="slogan"><img src="../img/slogan_welcome.png" alt="slogan"></div>
    <div class="enter"><a href="/99969875/page">ENTER &gt;</a></div>
    <nav>
      <li><a href="/5206680f4e00/96c656e2698251b5//pic/interaction.richtext.2013-01-23.2169872185/view" rel="tooltip" title="关于我们">关于我们</a></li>
      <li><a href="/5206680f4e8c/contentstree_182//pic/interaction.richtext.2013-02-26.7930630935/view" rel="tooltip" title="客户服务">客户服务</a></li>
      <li class="active"><a href="/8bbe8ba14f5c54c1/20105e744e0a6d774e16535a4f1a987976ee/wl" rel="tooltip" title="设计作品">设计作品</a></li>
      <li><a href="/4f014e1a65875316/contentstree_274//pic/interaction.richtext.2013-02-27.8760197146/view" rel="tooltip" title="企业文化">企业文化</a></li>
      <li><a href="/xdad/html/history_works.html" rel="tooltip" title="历史作品" target="_blank">历史作品</a></li>
    </nav>
  </div>
  <div class="overlay"></div>
</div>
<!-- supersized start -->
<div id="loading"></div>
<div id="supersize">
  <ul>
    <li><img src="../public/welcome/01.jpg" alt=""></li>
    <li><img src="../public/welcome/02.jpg" alt=""></li>
    <li><img src="../public/welcome/03.jpg" alt=""></li>
    <li><img src="../public/welcome/04.jpg" alt=""></li>
  </ul>
</div>
<!--<div id="supersize-info">
  <div id="slidecounter"> <span class="slidenumber"></span>/<span class="totalslides"></span> </div>
  <div id="slidecaption"></div>
  <div id="navigation"> <a href="#" id="prevslide"><img src="../img/supersize/back_dull.gif"/></a><a href="#" id="pauseplay"><img src="../img/supersize/pause_dull.gif"/></a><a href="#" id="nextslide"><img src="../img/supersize/forward_dull.gif"/></a> </div>
</div>--> 
<!-- supersized end -->
</body>
</html>