<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<title>联系我们 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- nanoscroll start -->
<script type="text/javascript" src="../js/nanoscroller/jquery.nanoscroller.min.js"></script>
<link type="text/css" href="../js/nanoscroller/nanoscroller.css" rel="stylesheet" media="all">
<!-- nanoscroll end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="page contact">
<header>
  <div class="inner-header">
    <div class="logo"><a href="index.html">上海现代建筑设计（集团）有限公司</a></div>
    <div class="slogan">创意成就梦想</div>
    <div class="language"><a href="#">English</a></div>
  </div>
</header>
<div class="container">
<div class="inner-container">
  <div class="main-column">
    <section class="typo">
      <hgroup>
        <h1>联系我们</h1>
      </hgroup>
      <article>
        <div class="map-select">
          <p><img src="../public/map.png" alt="MAP" width="530" height="450"></p>
        </div>
        <div class="location-info">
          <div class="location-mod">
            <div class="location-hd"><a href="javascript:void(0)" class="popup-tip" title="切换位置">上海 <b>&#9660;</b></a></div>
            <div class="location-bd"> 
              <!-- <div class="close"><a href="javascript:void(0)">x</a></div>-->
              <ul>
                <li class="active">
                  <h4><a href="#">上海</a></h4>
                </li>
                <li>
                  <h4><a href="#">北京</a></h4>
                </li>
                <li>
                  <h4><a href="#">深圳</a></h4>
                </li>
                <li>
                  <h4><a href="#">广州</a></h4>
                </li>
                <li>
                  <h4><a href="#">武汉</a></h4>
                </li>
                <li>
                  <h4><a href="#">长沙</a></h4>
                </li>
                <li>
                  <h4><a href="#">南昌</a></h4>
                </li>
                <li>
                  <h4><a href="#">青岛</a></h4>
                </li>
                <li>
                  <h4><a href="#">大连</a></h4>
                </li>
                <li>
                  <h4><a href="#">厦门</a></h4>
                </li>
                <li>
                  <h4><a href="#">杭州</a></h4>
                </li>
                <li>
                  <h4><a href="#">成都</a></h4>
                </li>
                <li>
                  <h4><a href="#">郑州</a></h4>
                </li>
                <li>
                  <h4><a href="#">重庆</a></h4>
                </li>
                <li>
                  <h4><a href="#">哈尔滨</a></h4>
                </li>
                <li>
                  <h4><a href="#">济南</a></h4>
                </li>
                <li>
                  <h4><a href="#">宁波</a></h4>
                </li>
                <li>
                  <h4><a href="#">天津</a></h4>
                </li>
              </ul>
            </div>
          </div>
          <ul>
            <li>地址：上海市石门二路258号</li>
            <li>邮编：200041 </li>
            <li>电话：86-021-52524567</li>
            <li>传真：86-021-62464000</li>
            <li>E-mail：xiandai@xd-ad.com.cn</li>
            <li>网址：www.xd-ad.com.cn</li>
          </ul>
        </div>
      </article>
    </section>
  </div>
</div>
<footer id="footer">
  <div class="navi">
    <div class="inner-navi">
      <nav>
        <li><a href="page.html">关于我们</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">集团概况</a></li>
              <li><a href="#">组织架构</a></li>
              <li><a href="#">合作伙伴</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">客户服务</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">业务范围</a></li>
              <li><a href="#">服务内容</a></li>
              <li><a href="#">主要客户</a></li>
            </ul>
          </div>
        </li>
        <li><a href="works.html">设计作品</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">全部作品</a></li>
              <li><a href="#">超高层建筑</a></li>
              <li><a href="#">交通建筑</a></li>
              <li><a href="#">医疗卫生建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">体育建筑</a></li>
              <li><a href="#">观演建筑</a></li>
              <li><a href="#">广播电视建筑</a></li>
              <li><a href="#">规划建筑</a></li>
            </ul>
          </div>
        </li>
        <li><a href="page_2col.html">企业文化</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">总述</a></li>
              <li><a href="#">企业沿革</a></li>
              <li><a href="#">发展历程</a></li>
              <li><a href="javascript:void(0)" class="lightbox-history-works">历史作品</a></li>
            </ul>
          </div>
        </li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们</a></li>
        <li class="active"><a href="contact.html">联系我们</a></li>
        <li><a href="#">客户投诉</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
<div class="lightbox history-works-modal">
  <div class="lightbox-container" style="z-index:102;">
    <div class="close"><a href="javascript:void(0)">CLOSE [X]</a></div>
    <div class="history-works">
      <section class="work-detail typo">
        <hgroup>
          <h1>曹杨新村</h1>
        </hgroup>
        <article class="nanoscrollbar">
          <p><img src="../public/history/caoyang_village.jpg" alt="曹杨新村"></p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
        </article>
      </section>
      <div class="work-list">
        <h4>1952-1959</h4>
        <div class="list nanoscrollbar">
          <ul>
            <li class="active">
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">曹杨新村</div>
              <div class="sub-title">Caoyang New Village</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
          </ul>
        </div>
        <div class="prev"><a href="javascript:void(0)">prev</a></div>
        <div class="next"><a href="javascript:void(0)">next</a></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- lightbox end -->
</body>
</html>