<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<title>首页 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- nanoscroll start -->
<script type="text/javascript" src="../js/nanoscroller/jquery.nanoscroller.min.js"></script>
<link type="text/css" href="../js/nanoscroller/nanoscroller.css" rel="stylesheet" media="all">
<!-- nanoscroll end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
<!-- royalslider start -->
<script type="text/javascript" src="../js/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('#full-width-slider').royalSlider({
    arrowsNav: true,
    loop: true,
    keyboardNavEnabled: true,
    controlsInside: false,
    imageScaleMode: 'fill',
    arrowsNavAutoHide: false,
//	autoScaleSliderWidth: 1440,     
//	autoScaleSliderHeight: 800,
    controlNavigation: 'bullets',
    thumbsFitInViewport: false,
    navigateByClick: true,
    startSlideId: 0,
    autoPlay: true,
    transitionType:'move',
    globalCaption: false,
    deeplinking: {
		enabled: true,
		change: false
    },
	autoScaleSlider: false,
    autoPlay: {
		// autoplay options go gere
		enabled: true,
		pauseOnHover: true,
		delay: 5000
	},
    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
    imgWidth: 1600,
    imgHeight: 1000
  });
});
</script>
<link href="../js/royalslider/rs-minimal-white.css" rel="stylesheet">
<link href="../js/royalslider/royalslider.css" rel="stylesheet">
<!-- royalslider end -->
</head>
<body class="homepage">
<header>
  <div class="inner-header">
    <div class="logo"><a href="index.html">上海现代建筑设计（集团）有限公司</a>
      <div class="hometip">&lt; 返回首页</div>
    </div>
    <div class="slogan">创意成就梦想</div>
    <div class="language"><a href="#">English</a></div>
  </div>
</header>
<div class="container">
  <div class="inner-container">
    <div class="main-column">
      <section>
        <hgroup>
          <h1>首页</h1>
        </hgroup>
        <article>
          <div class="sliderContainer fullWidth clearfix">
            <div id="full-width-slider" class="royalSlider heroSlider rsMinW">
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/04.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/01.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> 
                    <!--<dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>-->
                    <dl>
                      <dt>苏州科学文化艺术中心</dt>
                      <dd>苏州文化艺术中心是苏州标志性的文化高地、多元化的艺术殿堂、国际化的交流平台，也是百姓的精神家园。开业于2007年10月1日，由苏州大剧院、苏艺影城 、苏艺芭蕾舞团、苏州金鸡湖美术馆、园区文化馆、苏艺培训、商业中心等组成。苏艺影城票房一直傲居苏州影院票房之冠，是中国“金鸡奖”永久评奖基地，也是苏州唯一国家挂牌“五星级影院”。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/05.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200"> 
                    <!--<dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>-->
                    <dl>
                      <dt>苏州科学文化艺术中心</dt>
                      <dd>苏州文化艺术中心是苏州标志性的文化高地、多元化的艺术殿堂、国际化的交流平台，也是百姓的精神家园。开业于2007年10月1日，由苏州大剧院、苏艺影城 、苏艺芭蕾舞团、苏州金鸡湖美术馆、园区文化馆、苏艺培训、商业中心等组成。苏艺影城票房一直傲居苏州影院票房之冠，是中国“金鸡奖”永久评奖基地，也是苏州唯一国家挂牌“五星级影院”。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/02.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock infoBlockLeftBlack rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/03.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="rsContent"> <img class="rsImg" src="../public/welcome/06.jpg" alt="" />
                <div class="info-mod">
                  <div class="infoBlock rsABlock infoBlockLeftBlack" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
                    <dl>
                      <dt>2012年现代设计重点项目</dt>
                      <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
                      <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
                      <dd>建筑高度（m）：420.5</dd>
                      <dd>合作设计单位：芝加哥SOM公司</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="navi">
    <div class="inner-navi">
      <nav>
        <li><a href="page.html">关于我们</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">集团概况</a></li>
              <li><a href="#">组织架构</a></li>
              <li><a href="#">合作伙伴</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">客户服务</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">业务范围</a></li>
              <li><a href="#">服务内容</a></li>
              <li><a href="#">主要客户</a></li>
            </ul>
          </div>
        </li>
        <li><a href="works.html">设计作品</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">全部作品</a></li>
              <li><a href="#">超高层建筑</a></li>
              <li><a href="#">交通建筑</a></li>
              <li><a href="#">医疗卫生建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">体育建筑</a></li>
              <li><a href="#">观演建筑</a></li>
              <li><a href="#">广播电视建筑</a></li>
              <li><a href="#">规划建筑</a></li>
            </ul>
          </div>
        </li>
        <li><a href="page_2col.html">企业文化</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">总述</a></li>
              <li><a href="#">企业沿革</a></li>
              <li><a href="#">发展历程</a></li>
              <li><a href="javascript:void(0)" class="lightbox-history-works">历史作品</a></li>
            </ul>
          </div>
        </li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">客户投诉</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
<div class="lightbox history-works-modal">
  <div class="lightbox-container" style="z-index:102;">
    <div class="close"><a href="javascript:void(0)">CLOSE [X]</a></div>
    <div class="history-works">
      <section class="work-detail typo">
        <hgroup>
          <h1>曹杨新村</h1>
        </hgroup>
        <article class="nanoscrollbar">
          <p><img src="../public/history/caoyang_village.jpg" alt="曹杨新村"></p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
        </article>
      </section>
      <div class="work-list">
        <h4>1952-1959</h4>
        <div class="list nanoscrollbar">
          <ul>
            <li class="active">
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">曹杨新村</div>
              <div class="sub-title">Caoyang New Village</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
          </ul>
        </div>
        <div class="prev"><a href="javascript:void(0)">prev</a></div>
        <div class="next"><a href="javascript:void(0)">next</a></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- lightbox end --> 
<!--<div class="ipad-modal">
  <div style="position:absolute; top:50%; left:50%; z-index:9999; width:400px; padding:15px 20px; margin-top:-60px; margin-left:-220px; background:#fff; border:1px solid #ccc; box-shadow:2px 2px 2px rgba(0,0,0,.1);">
              <a href="javascript:void(0);" onclick="$('.ipad-modal').hide();" style="position:absolute; top:20px; right:20px; z-index:9999; width:20px; height:20px; background:url('../img/icon_x.png') no-repeat 50% 50%;"></a>
              <h3>欢迎下载现代设计集团iPad书架</h3>
              <p style="font-size:16px;"><a href="#" style="color:#c00;">点击前往下载页面</a>，继续浏览网站，请关闭本窗口。</p>

   </div>
  <div onclick="$('.ipad-modal').hide();" style="position:absolute; top:0; left:0; z-index:9998; width:100%; height:100%; background:rgba(255,255,255,.75);"></div>
</div>-->
<div class="ipad-modal" style="display:none;">
  <div style="text-align:center; position:absolute; top:50%; left:50%; z-index:9999; width:400px; padding:20px; margin-top:-170px; margin-left:-220px; background:#fff url(../img/bg1.png); border:1px solid #ccc; box-shadow:0 5px 5px rgba(0,0,0,.1);"> <a href="javascript:void(0);" onclick="$('.ipad-modal').hide();" style="opacity:1; position:absolute; top:10px; right:12px; z-index:9999; width:30px; height:30px; background:url('../img/icon_x.png') no-repeat 50% 50%;"></a> <img src="../img/ipad_bookshelf.png" style="display:block; margin:0 auto 20px;"> <a href="http://app.xd-ad.com.cn/book" class="btn btn-primary" style="padding-left:20px; padding-right:20px; margin-bottom:20px;">点击前往下载页面</a>
    <h3 style="font-size:22px; font-family:'microsoft yahei';">欢迎下载现代设计集团iPad书架</h3>
  </div>
  <!--<div onclick="$('.ipad-modal').hide();" style="position:absolute; top:0; left:0; z-index:9998; width:100%; height:100%; background:rgba(255,255,255,.75);"></div>--> 
</div>
</body>
</html>