<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<title>集团概况 - 关于我们 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- nanoscroll start -->
<script type="text/javascript" src="../js/nanoscroller/jquery.nanoscroller.min.js"></script>
<link type="text/css" href="../js/nanoscroller/nanoscroller.css" rel="stylesheet" media="all">
<!-- nanoscroll end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="page">
<header>
  <div class="inner-header">
    <div class="logo"><a href="index.html">上海现代建筑设计（集团）有限公司</a></div>
    <div class="slogan">创意成就梦想</div>
    <div class="language"><a href="#">English</a></div>
  </div>
</header>
<div class="container">
  <div class="inner-container clearfix">
    <div class="right-column">
      <section class="typo">
        <hgroup>
          <h1>五十年代</h1>
        </hgroup>
        <article>
          <p>上海现代建筑设计(集团)有限公司是一家以建筑设计为主的现代科技型企业，集团旗下拥有华东建筑设计研究院和上海建筑设计研究院等20余家专业公司和机构。在2008年中国工程设计企业60强排名中跻身于前6名; 2001年至2011年连续十年被美国《工程新闻记录》（ENR）列入“国际工程设计公司200强”和“全球工程设计公司150强”之一，2011年位列全球第75位。2011年集团荣获中国质量协会与全国用户委员会颁发的“用户满意企业”奖。</p>
          <div class="row-fluid">
            <div class="span6">
              <h4>专业的团队</h4>
              <p>集团现有职工3,500余人，其中包括中国工程院院士2名、国家设计大师6名、国家有突出贡献中青年专家6名。各专业技术人员约占73%, 高级工程师约占25.4%, 技术力量雄厚。</p>
            </div>
            <div class="span6">
              <h4>经验与成就</h4>
              <p><a href="#">集团累计完成了3万余项工程的设计与咨询</a>，创作成果遍及全国29个省市及20多个国家和地区，其中1000余项工程设计、科研项目和标准设计获国家、省（市）级优秀设计和科研进步奖。</p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <h4>全过程服务</h4>
              <p>集团业务领域涵盖建筑﹑水利﹑市政和规划四大行业，业务横跨工程咨询﹑工程设计﹑工程承包﹑工程勘察四大类别的项目全过程。主要内容有：建筑设计、历史建筑保护和利用设计、环境与装饰设计、建筑声学设计、项目管理、工程监理、项目可行性研究、投资控制、科技咨询等。2011年度全集团实现营业收入超过人民币33亿元。 </p>
            </div>
            <div class="span6">
              <h4>市场与合作</h4>
              <p>集团已在北京、天津、重庆、武汉、青岛、深圳、西安、厦门、大连、南宁、苏州等地共设有23个内地机构（分公司，办事处，分院），并在香港设有全资子公司。至今集团与美国、加拿大、英国、法国、德国、澳大利亚、日本、新加坡、韩国、香港、台湾等国家和地区的设计机构已合作设计达400多个项目。</p>
            </div>
          </div>
          <!-- tab start -->
          <div class="tabbable xdad-h">
            <ul class="nav nav-tabs nav-tabs-2">
              <li><a href="#b1" data-toggle="tab">业务范围</a></li>
              <li class="active"><a href="#b2" data-toggle="tab">业务分布组成</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="b1">
                <h5>投资策划书</h5>
                <ul>
                  <li>地区大环境分析</li>
                  <li>拟建业态研究</li>
                  <li>地质环境分析（选址分析）</li>
                </ul>
                <h5>项目建议书</h5>
                <ul>
                  <li>市场分析与预测</li>
                  <li>初步进行建设方案的策划</li>
                  <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
                </ul>
              </div>
              <div class="tab-pane active" id="b2">
                <p><img src="../public/pie_chart.jpg" alt="饼图"></p>
              </div>
            </div>
          </div>
          <!-- tab end -->
          <blockquote><p>在设计思想上，贯彻中央在1952年7月设计会议上提出的“适用、经济、安全，并在国家经济条件许可下照顾美观”（后简化为“适用、经济、兼顾美观”）的方针。我国现今各地都在扩城建房，地方之间相互抄袭模仿，开发商追求表面的洋式豪华，忽视功能，不为住户使用着想，设计上“克隆”，缺乏个性创新等现象仍有存在。</p><p style="text-align: right;" data-mce-style="text-align: right;">——金瓯卜·选自《金瓯卜文集》</p></blockquote>
          <p style="text-align: center;"><img alt="" src="http://ipadlib.xd-ad.com.cn/medias/542f822a2.png/images/file/large?97a70245109e222a45c088653835e70c" data-mce-src="../../medias/542f822a2.png/images/file/large?97a70245109e222a45c088653835e70c"><br><em><span style="line-height: 1.6;" data-mce-style="line-height: 1.6;">（上海建筑设计研究院旧址 广东17号）</span></em></p>
          <p><img src="../public/honor.jpg" alt="集团荣誉"></p>
          <ul>
            <li>美国ENR（工程新闻记录）国际工程设计公司200强</li>
            <li>美国ENR（工程新闻记录）全球工程设计公司150强 </li>
            <li>中国勘察设计100强</li>
            <li>中国工程设计企业60强</li>
          </ul>
          <!-- tab start -->
          <div class="tabbable xdad-h">
            <ul class="nav nav-tabs nav-tabs-5">
              <li class="active"><a href="#a1" data-toggle="tab">决策阶段</a></li>
              <li><a href="#a2" data-toggle="tab">前期阶段</a></li>
              <li><a href="#a3" data-toggle="tab">设计阶段</a></li>
              <li><a href="#a4" data-toggle="tab">施工阶段</a></li>
              <li><a href="#a5" data-toggle="tab">实用阶段</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="a1">
                <h5>投资策划书</h5>
                <ul>
                  <li>地区大环境分析</li>
                  <li>拟建业态研究</li>
                  <li>地质环境分析（选址分析）</li>
                </ul>
                <h5>项目建议书</h5>
                <ul>
                  <li>市场分析与预测</li>
                  <li>初步进行建设方案的策划</li>
                  <li>初步估算拟建项目所需的建设投资和投产后运营期所需的流动资金</li>
                </ul>
              </div>
              <div class="tab-pane" id="a2">
                <p>2</p>
              </div>
              <div class="tab-pane" id="a3">
                <p>3</p>
              </div>
              <div class="tab-pane" id="a4">
                <p>4</p>
              </div>
              <div class="tab-pane" id="a5">
                <p>5</p>
              </div>
            </div>
          </div>
          <!-- tab end --> 
        </article>
      </section>
    </div>
    <div class="left-column"> 
      <aside>
        <div class="mod menu">
          <ul>
            <li class="active">
              <h4>1952-1978</h4>
              <ul>
                <li class="active">
                  <h4><a href="#">五十年代</a></h4>
                </li>
                <li>
                  <h4><a href="#">坚持不懈</a></h4>
                </li>
                <li>
                  <h4><a href="#">支援全国</a></h4>
                </li>
                <li>
                  <h4><a href="#">国家使命</a></h4>
                </li>
              </ul>
            </li>
            <li>
              <h4>1979-1997</h4>
              <ul>
                <li>
                  <h4><a href="#">改革开放</a></h4>
                </li>
              </ul>
            </li>
            <li>
              <h4>1998-2012</h4>
              <ul>
                <li>
                  <h4><a href="#">继往开来</a></h4>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
      <!--<aside>
        <div class="mod menu">
          <ul>
            <li class="active">
              <h4><a href="#">五十年代</a></h4>
            </li>
            <li>
              <h4><a href="#">坚持不懈</a></h4>
            </li>
            <li>
              <h4><a href="#">支援全国</a></h4>
            </li>
            <li>
              <h4><a href="#">国家使命</a></h4>
            </li>
          </ul>
        </div>
      </aside>-->
    </div>
  </div>
</div>
<footer id="footer">
  <div class="navi">
    <div class="inner-navi">
      <nav>
        <li><a href="page.html">关于我们</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">集团概况</a></li>
              <li><a href="#">组织架构</a></li>
              <li><a href="#">合作伙伴</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">客户服务</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">业务范围</a></li>
              <li><a href="#">服务内容</a></li>
              <li><a href="#">主要客户</a></li>
            </ul>
          </div>
        </li>
        <li><a href="works.html">设计作品</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">全部作品</a></li>
              <li><a href="#">超高层建筑</a></li>
              <li><a href="#">交通建筑</a></li>
              <li><a href="#">医疗卫生建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">体育建筑</a></li>
              <li><a href="#">观演建筑</a></li>
              <li><a href="#">广播电视建筑</a></li>
              <li><a href="#">规划建筑</a></li>
            </ul>
          </div>
        </li>
        <li class="active"><a href="page_2col.html">企业文化</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">总述</a></li>
              <li><a href="#">企业沿革</a></li>
              <li class="active"><a href="#">发展历程</a></li>
              <li><a href="javascript:void(0)" class="lightbox-history-works">历史作品</a></li>
            </ul>
          </div>
        </li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">客户投诉</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
<div class="lightbox history-works-modal">
  <div class="lightbox-container" style="z-index:102;">
    <div class="close"><a href="javascript:void(0)">CLOSE [X]</a></div>
    <div class="history-works">
      <section class="work-detail typo">
        <hgroup>
          <h1>曹杨新村</h1>
        </hgroup>
        <article class="nanoscrollbar">
          <p><img src="../public/history/caoyang_village.jpg" alt="曹杨新村"></p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
        </article>
      </section>
      <div class="work-list">
        <h4>1952-1959</h4>
        <div class="list nanoscrollbar">
          <ul>
            <li class="active">
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">曹杨新村</div>
              <div class="sub-title">Caoyang New Village</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
          </ul>
        </div>
        <div class="prev"><a href="javascript:void(0)">prev</a></div>
        <div class="next"><a href="javascript:void(0)">next</a></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- lightbox end -->
</body>
</html>