<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
<title>2012年重点项目 - 设计作品 - 上海现代建筑设计（集团）有限公司</title>
<link rel="shortcut icon" href="favicon.ico">
<script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
<!--[if lt ie 9]>
<script type="text/javascript" src="../js/html5.js"></script>
<script type="text/javascript" src="../js/selectivizr.js"></script>
<![endif]-->
<!-- bootstrap start -->
<script type="text/javascript" src="../js/bootstrap.js"></script>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/bootstrap.min.patch.css" rel="stylesheet" media="all">
<!-- bootstrap end -->
<!-- nanoscroll start -->
<script type="text/javascript" src="../js/nanoscroller/jquery.nanoscroller.min.js"></script>
<link type="text/css" href="../js/nanoscroller/nanoscroller.css" rel="stylesheet" media="all">
<!-- nanoscroll end -->
<!-- waterfalls start -->
<script type="text/javascript" src="../js/waterfalls/jquery.masonry.js"></script>
<script type="text/javascript" src="../js/waterfalls/jquery.infinitescroll.js"></script>
<script type="text/javascript" src="../js/waterfalls/waterfalls.js"></script>
<!-- waterfalls end -->
<script type="text/javascript" src="../js/base.js"></script>
<link type="text/css" href="../css/style.css" rel="stylesheet" media="all">
<link type="text/css" href="../css/typo.css" rel="stylesheet" media="all">
</head>
<body class="works">
<header>
  <div class="inner-header">
    <div class="logo"><a href="index.html">上海现代建筑设计（集团）有限公司</a></div>
    <div class="slogan">创意成就梦想</div>
    <div class="language"><a href="#">English</a></div>
  </div>
</header>
<div class="container">
  <div class="inner-container">
    <div class="main-column">
      <section class="waterfallstream">
      <hgroup>
        <!--<div class="categories-mod tag-mod-01">
          <h4><a href="javascript:void(0)">热点作品 <b>▼</b></a></h4>
          <div class="nav-bd">
            <ul>
              <li class="active"><a href="#">全部</a></li>
              <li><a href="#">绿色建筑</a></li>
              <li><a href="#">上海2010年世博会项目</a></li>
            </ul>
          </div>
        </div>-->
        <div class="categories-mod tag-mod-02" style="left:195px;">
          <h4><a href="javascript:void(0)">超高层建筑 <b>▼</b></a></h4>
          <div class="nav-bd">
            <ul>
              <li><a href="#">全部</a></li>
              <li class="active"><a href="#">超高层建筑</a></li>
              <li><a href="#">交通建筑</a></li>
              <li><a href="#">医疗卫生建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">体育建筑</a></li>
              <li><a href="#">观演建筑</a></li>
              <li><a href="#">广播电视建筑</a></li>
              <li><a href="#">规划建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">住宅建筑</a></li>
              <li><a href="#">办公建筑</a></li>
              <li><a href="#">宾馆建筑</a></li>
              <li><a href="#">文化建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">商业建筑</a></li>
              <li><a href="#">教育建筑</a></li>
              <li><a href="#">会展建筑</a></li>
              <li><a href="#">科研建筑</a></li>
            </ul>
          </div>
        </div>
        <!--<div class="categories-mod tag-mod-03">
          <h4><a href="javascript:void(0)">项目区域 <b>▼</b></a></h4>
          <div class="nav-bd">
            <ul>
              <li class="active"><a href="#">全部</a></li>
              <li> <a href="#">上海</a> </li>
              <li> <a href="#">北京</a> </li>
              <li> <a href="#">深圳</a> </li>
            </ul>
            <ul>
              <li> <a href="#">广州</a> </li>
              <li> <a href="#">武汉</a> </li>
              <li> <a href="#">长沙</a> </li>
              <li> <a href="#">南昌</a> </li>
            </ul>
            <ul>
              <li> <a href="#">青岛</a> </li>
              <li> <a href="#">大连</a> </li>
              <li> <a href="#">厦门</a> </li>
              <li> <a href="#">杭州</a> </li>
            </ul>
            <ul>
              <li> <a href="#">成都</a> </li>
              <li> <a href="#">郑州</a> </li>
              <li> <a href="#">重庆</a> </li>
              <li> <a href="#">哈尔滨</a> </li>
            </ul>
            <ul>
              <li> <a href="#">济南</a> </li>
              <li> <a href="#">宁波</a> </li>
              <li> <a href="#">天津</a> </li>
            </ul>
          </div>
        </div>
        <div class="categories-mod tag-mod-04">
          <h4><a href="javascript:void(0)">项目年代 <b>▼</b></a></h4>
          <div class="nav-bd">
            <ul>
              <li class="active"><a href="#">全部</a></li>
              <li><a href="#">90年代</a></li>
              <li><a href="#">80年代</a></li>
              <li><a href="#">70年代</a></li>
              <li><a href="#">60年代及以前</a></li>
            </ul>
          </div>
        </div>-->
      </hgroup>
      <div class="item_list infinite_scroll"> 
        <!-- item start -->
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="259" src="../public/works/01.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/02.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="349" src="../public/works/03.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(18)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="320" src="../public/works/04.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(7)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="147" src="../public/works/05.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/06.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="124" src="../public/works/07.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(23)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/08.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(8)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/09.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(11)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="275" src="../public/works/10.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(15)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="259" src="../public/works/01.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/02.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="349" src="../public/works/03.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(18)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="320" src="../public/works/04.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(7)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="147" src="../public/works/05.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/06.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="124" src="../public/works/07.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(23)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/08.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(8)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/09.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(11)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="275" src="../public/works/10.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(15)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="259" src="../public/works/01.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/02.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="349" src="../public/works/03.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(18)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="320" src="../public/works/04.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(7)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="147" src="../public/works/05.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/06.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="124" src="../public/works/07.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(23)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/08.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(8)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/09.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(11)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="275" src="../public/works/10.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(15)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="259" src="../public/works/01.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/02.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="349" src="../public/works/03.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(18)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="320" src="../public/works/04.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(7)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="147" src="../public/works/05.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(5)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/06.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(12)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="124" src="../public/works/07.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(23)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/08.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(8)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover horizontal"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="154" src="../public/works/09.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(11)</em></div>
          </div>
        </div>
        <div class="item masonry_brick">
          <div class="cover vertical"> <a href="javascript:void(0)"><img alt="2012年现代设计重点项目" width="221" height="275" src="../public/works/10.jpg"></a></div>
          <div class="title">2012年现代设计重点项目</div>
          <div class="action">
            <div class="like"> <a href="javascript:void(0)">喜欢</a> <em class="count">916</em> </div>
            <div class="comment"><a href="#">评论</a><em class="bold">(15)</em></div>
          </div>
        </div>
        <!-- item end --> 
      </div>
      <div id="more"><a href="works/2.html"></a></div>
      <div id="pagination" class="pagination pagination-centered" style="display:none;">
        <ul>
          <li class="disabled"><a href="#">«</a></li>
          <li class="disabled"><a href="#">‹</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">›</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
    </section>
  </div>
</div>
<footer id="footer">
  <div class="navi">
    <div class="inner-navi">
      <nav>
        <li><a href="page.html">关于我们</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">集团概况</a></li>
              <li><a href="#">组织架构</a></li>
              <li><a href="#">合作伙伴</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">客户服务</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">业务范围</a></li>
              <li><a href="#">服务内容</a></li>
              <li><a href="#">主要客户</a></li>
            </ul>
          </div>
        </li>
        <li class="active"><a href="works.html">设计作品</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">全部作品</a></li>
              <li class="active"><a href="#">超高层建筑</a></li>
              <li><a href="#">交通建筑</a></li>
              <li><a href="#">医疗卫生建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">体育建筑</a></li>
              <li><a href="#">观演建筑</a></li>
              <li><a href="#">广播电视建筑</a></li>
              <li><a href="#">规划建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">住宅建筑</a></li>
              <li><a href="#">办公建筑</a></li>
              <li><a href="#">宾馆建筑</a></li>
              <li><a href="#">文化建筑</a></li>
            </ul>
            <ul>
              <li><a href="#">商业建筑</a></li>
              <li><a href="#">教育建筑</a></li>
              <li><a href="#">会展建筑</a></li>
              <li><a href="#">科研建筑</a></li>
            </ul>
            <!--<ul>
              <li><a href="#">上海2010年世博会项目</a></li>
              <li><a href="#">其它类型项目</a></li>
            </ul>--> 
          </div>
        </li>
        <li><a href="page_2col.html">企业文化</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">总述</a></li>
              <li><a href="#">企业沿革</a></li>
              <li><a href="#">发展历程</a></li>
              <li><a href="javascript:void(0)" class="lightbox-history-works">历史作品</a></li>
            </ul>
          </div>
        </li>
        <li><a href="news_list.html">新闻动态</a>
          <div class="nav-bd">
            <ul>
              <li><a href="#">集团新闻</a></li>
              <li><a href="#">行业动态</a></li>
            </ul>
          </div>
        </li>
      </nav>
      <ul class="links">
        <li><a href="#">加入我们</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">客户投诉</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">上海现代设计（集团）有限公司版权所有 Copyright © 2010 XIANDAI Architectural Design. All rights reserved. 沪ICP备09024479</div>
</footer>
<!-- lightbox start -->
<div class="lightbox horizontal">
  <div class="lightbox-container">
    <div class="close"><a href="javascript:void(0)">CLOSE [X]</a></div>
    <div class="loading">Loading...</div>
    <div class="slideshow">
      <div class="foto">
        <ul>
          <li class="active"><img src="../public/foto.jpg" alt=""></li>
          <li><img src="../public/foto.jpg" alt=""></li>
          <li><img src="../public/foto.jpg" alt=""></li>
        </ul>
      </div>
      <div class="thumb">
        <ul>
          <li class="active"><img src="../public/thumb_04.jpg" alt=""></li>
          <li><img src="../public/thumb_02.jpg" alt=""></li>
          <li><img src="../public/thumb_03.jpg" alt=""></li>
        </ul>
      </div>
      <div class="prev"><a href="javascript:void(0)">prev</a></div>
      <div class="next"><a href="javascript:void(0)">next</a></div>
      <dl>
        <dt>2012年现代设计重点项目</dt>
        <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
        <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
        <dd>建筑高度（m）：420.5</dd>
        <dd>合作设计单位：芝加哥SOM公司</dd>
      </dl>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<div class="lightbox vertical">
  <div class="lightbox-container">
    <div class="close"><a href="javascript:void(0)">CLOSE [X]</a></div>
    <div class="loading">Loading...</div>
    <div class="slideshow">
      <div class="foto">
        <ul>
          <li class="active"><img src="../public/foto2.jpg" alt=""></li>
          <li><img src="../public/foto2.jpg" alt=""></li>
          <li><img src="../public/foto2.jpg" alt=""></li>
        </ul>
      </div>
      <div class="thumb">
        <ul>
          <li class="active"><img src="../public/thumb_01.jpg" alt=""></li>
          <li><img src="../public/thumb_02.jpg" alt=""></li>
          <li><img src="../public/thumb_03.jpg" alt=""></li>
        </ul>
      </div>
      <div class="prev"><a href="javascript:void(0)">prev</a></div>
      <div class="next"><a href="javascript:void(0)">next</a></div>
      <dl>
        <dt>2012年现代设计重点项目</dt>
        <dd>建筑地点：上海浦东陆家嘴金融贸易开发区的中心区</dd>
        <dd>总建筑面积（m<sup>2</sup>）：289500</dd>
        <dd>建筑高度（m）：420.5</dd>
        <dd>合作设计单位：芝加哥SOM公司</dd>
      </dl>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- lightbox end -->
<div class="lightbox history-works-modal">
  <div class="lightbox-container">
    <div class="close"><a href="javascript:void(0)">CLOSE [X]</a></div>
    <div class="history-works">
      <section class="work-detail typo">
        <hgroup>
          <h1>曹杨新村</h1>
        </hgroup>
        <article class="nanoscrollbar">
          <p><img src="../public/history/caoyang_village.jpg" alt="曹杨新村"></p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨新村是上海解放后（1951年）为解决广大工人的住房难题，由陈毅市长决策，潘汉年副市长主持，上海市人民政府兴建的全市第一个工人新村，以“环境宽敞，房屋建筑简单朴素、实用美观、居住不宽不挤，附带建造必需的公共建筑”为设计原则。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
          <p>曹杨一村位于曹杨新村的中心地带，囊括了枫桥路、梅岭北路、棠浦路、花溪路、兰溪路一带，于1952年5月竣工，至今仍完好地保留，开创了我国现代居住区规划和设计的先河，屡获“全国最佳街道”、“中国街道之星”等殊荣，还被列入“上海市第四批优秀历史建筑名单”，是上海市优秀历史建筑“老寿星”中房龄最小的。</p>
        </article>
      </section>
      <div class="work-list">
        <h4>1952-1959</h4>
        <div class="list nanoscrollbar">
          <ul>
            <li class="active">
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">曹杨新村</div>
              <div class="sub-title">Caoyang New Village</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_01.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_02.jpg" alt=""></div>
              <div class="title">杭州屏风山疗养院</div>
              <div class="sub-title">Hangzhou Pingfeng Mountain Sanatorium</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_03.jpg" alt=""></div>
              <div class="title">鲁迅墓及鲁迅纪念馆</div>
              <div class="sub-title">Lu Xun Tomb and Lu Xun Museum</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_04.jpg" alt=""></div>
              <div class="title">上海展览中心（原中苏友好大厦）</div>
              <div class="sub-title">Shanghai Exhibition Center (The Former Sino-Russian Friendly Building)</div>
            </li>
            <li>
              <div class="thumb"><img src="../public/history/thumb_05.jpg" alt=""></div>
              <div class="title">龙华塔 历史建筑保护和利用项目</div>
              <div class="sub-title">Longhua Pagoda Protection and Utilization of Historic Building</div>
            </li>
          </ul>
        </div>
        <div class="prev"><a href="javascript:void(0)">prev</a></div>
        <div class="next"><a href="javascript:void(0)">next</a></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- lightbox end -->
</body>
</html>